/*
Theme Name: The Vacation Rental
Theme URI: http://redfactory.nl/themes/thevacationrental/
Author: Red Factory
Author URI: http://redfactory.nl
Description: A perfect theme if you want to rent out one or more apartment. A great companion to an AirBnb listing!
Version: 2.3
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

@color-text: #555;
@color-text-light: #999999;
@color-heading: #4D4D4D;
@color-primary: #9e3103;
@color-secondary: #C7E885;

@import 'reset';
@import 'mixins';
@import '1140';
@import 'flexslider';
@import 'uniform.thevacationrental';

html {
	color: @color-text;
	font-size:14px;
	-webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

/***********************************************/
/*               Common Elements               */
/***********************************************/

/*
	Notices are used mainly for "no items" type displays, like
	'no posts here', or 'no search results' texts. They consist of
	a large title and a message underneath.
*/
.notice {
	text-align:Center;
	padding:0 0 22px 0;
	h1 {
		font-size:1.714em;
		margin:0 0 11px 0;
	}
	h2 {
		line-height:1.6em;
	}
}


#ui-datepicker-div {
	display:none;
}

.blueprint {
	padding: 0 0 22px 0;
}


.clear {
	clear:both;
}

.widget-area {
	overflow: hidden;
	zoom:1;
}


.navigation > div > ul {
	white-space: collapse;
	> li {
		display:inline-block;
		&:hover {
			> ul {
				display:block;
			}
		}
		> ul {
			display:none;
			line-height: 19px;
			position:absolute;
			z-index: 3000;
			padding:11px 22px;
			background:#fff;
			.tvr_shadow;
			ul {
				padding-top:6px;
				margin-left:11px;
			}
			li {
				padding:6px 0;
				&:last-child {
					padding-bottom:0px;
				}
			}
		}
	}
}

.section {
	margin:0 0 44px 0 ;
}
.map_canvas {
	.radius(3px);
}
.box, .inner-box {
	.radius(3px);
	padding:22px;
	position:Relative;
	border:1px solid #fff;
	.tvr_shadow;
	background:#fff;
	margin:0 0 44px 0;
	.box {
		padding:0px;
		.box_shadow(0 0 0 0 #fff);
	}
	&.smallpadding {
		padding:11px;
	}
	&.nopadding {
		padding:0px;
	}
	&.nomargin {
		margin:0px;
	}
	&.binded.top {
		margin: 0 0 22px 0;
	}
	&.binded.bottom {
		&.has-binder {
			.binder-left, .binder-right{
				position:absolute;
				background: url( 'img/binder-v.png' );
				display: block;
				width: 5px;
				height:39px;
				top:-31px;
			}
			.binder-right {
				right:11px;
			}
			.binder-left {
				left:11px;
			}
			z-index:100;
		}
		z-index:50;
	}
	&.binded.top {
		&.has-binder {
			.binder-left, .binder-right{
				position:absolute;
				background: url( 'img/binder-v.png' );
				display: block;
				width: 5px;
				height:39px;
				bottom:-31px;
			}
			.binder-right {
				right:11px;
			}
			.binder-left {
				left:11px;
			}
			z-index:100;
		}
		z-index:50;
	}
	&.binded.left {
		z-index:50;
		&.has-binder {
			z-index:100;
			.binder-top, .binder-bottom{
				position:absolute;
				background: url( 'img/binder-h.png' );
				display: block;
				width: 39px;
				height:5px;
				right:-31px;
			}
			.binder-top {
				top:11px;
			}
			.binder-bottom {
				bottom:11px;
			}
		}
	}
	&.binded.right {
		z-index:50;
		&.has-binder {
			z-index:100;
			.binder-top, .binder-bottom{
				position:absolute;
				background: url( 'img/binder-h.png' );
				display: block;
				width: 39px;
				height:5px;
				left:-31px;
			}
			.binder-top {
				top:11px;
			}
			.binder-bottom {
				bottom:11px;
			}
		}
	}
}



.image-container {
	text-align:center;
	display:inline-block;
	position:relative;
}
.image {
	position:Relative;
	display:inline-block;
	vertical-align: bottom;
	img {
		display:block;
		margin:0 auto;
		max-width:100%;
		width:100%;
	}
	.shadow{
		position:absolute;
		width:100%;
		height: 100%;
		.box_shadow(0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset);
		z-index:1000;
		top:0px;
	}
}

.site-content {
	line-height:1.6em;
}

.read-more-arrow {
	width:6px;
	height:10px;
	display:inline-block;
	background: url( 'img/read_more_arrow.png' );
	margin:0 0 0 11px;
}

.imagelink {
	display:block;
}

.hoverlink {
	background-repeat: no-repeat;
	background-position: center center;
}

.posts-container {
	overflow:hidden;
	zoom:1;
}

.posts-navigation {
	overflow: hidden;
	zoom:1;
	margin:0 0 44px 0;
	text-align: center;
	.previous-posts {
		float:left;
	}
	.next-posts {
		float:right
	}
	a, span {
		background:#fff;
		display:inline-block;
		.tvr_shadow;
		padding:4px 11px;
		color:@color-text !important;
		text-decoration:none;
	}
	a:hover {
		background:#fafafa;
	}
	span {
		background:0px;
		.box_shadow(none)
	}

}




.shadow-full {
	height:11px;
	background:url( 'img/shadow-full.png' ) no-repeat 50% 50%;
}

.outer-shadow {
	position:absolute;
	bottom:-4px;
	height:4px;
	left:0px;
	width:100%;
	.left {
		height:4px;
		width:50%;
		float:left;
		background:url( 'img/shadow-left.png' ) no-repeat left top;
	}
	.right {
		height:4px;
		width:50%;
		float:right;
		background:url( 'img/shadow-right.png' ) no-repeat right top;
		position:relative;
	}
}

.read-more {
	text-decoration: none;
	font-family:georgia;
	font-style: italic;
}


.full-loader {
	display:none;
	position:absolute;
	height:100%;
	width:100%;
	background:#fff url( 'img/loader-large.gif' ) no-repeat center center;
	.opacity(0.8);
	z-index:1200;
}

.loader {
	background: url( 'img/loader-large.gif' ) no-repeat center center;
	padding:100px 0
}

/***********************************************/
/*                   Widgets                   */
/***********************************************/

.button {
	padding:4px 11px;
	font-size:12px;
	text-decoration:none;
	&:hover {
		.opacity(0.9);
	}
}

.button input {
	border:0px;
	outline:0px;
	padding:5px !important;
	margin:0px;
	background:none;
	font-size:14px;
}

.button-container.destroyed, .button-container.destroyed .button {
	background:none !important;
	border-color:transparent !important;
	outline-color:transparent !important;
	.box_shadow(none) !important;
	color: inherit !important;
	text-shadow: inherit !important;
}

.navigation-select {
	display:none;
}

.navigation-select {
	select, .selector select {
		background: #fff;
		.box_shadow(0 0 0 0 #fff);
		border:0px;
	}
}


/***********************************************/
/*                  Shortcodes                 */
/***********************************************/


.columns {
	margin:0 0 22px 0;
}

.linelink {
	a {
		float:right;
		margin:0 0 0 11px;
		display:block;
		position:Relative;
	}
	.line {
		overflow:hidden;
	}

	&.left {
		a {
			float:left;
			margin:0 11px 0 0;
		}
	}
}

.button-container {
	display:inline-block;
	.button {
		display:inline-block;
	}
	br {
		display:none;
	}
}

.message-container {
	display:block;
	text-shadow:none !important;
	.message {
		display:block;
		p:last-child {
			margin:0px;
		}
		a {
			color:inherit;
		}
	}
}

.featured-image {
	text-align:center
}

.title-box {
	text-align: center;
	.binder-left, .binder-right{
		position:absolute;
		background: url( 'img/binder-v.png' );
		display: block;
		width: 5px;
		height:39px;
		top:12px;
	}
	.binder-left {
		left: 11px;
	}
	.binder-right {
		right: 11px;
	}
	.box {
		padding: 19px 44px;
		display:inline-block;
		min-width:400px;
	}
	h1 {
		font-size:1.429em !important;
		font-weight: 700 !important;
		line-height: 1.3em !important;
		margin:0px !important;
	}
}

.box .title-box{
	.box {
		background: #f1f1f1;

	}
}

@media (max-width: 512px) {
	.title-box {
		.box {
			width:92%;
			padding-left:4%;
			padding-right:4%;
			min-width:0px;
		}
	}
}


.toggle {
	.toggle-content {
		display:none;
	}
	.toggle-title {
		background-image: url( 'img/toggle-down.png' );
		background-position: left center;
		background-repeat: no-repeat;
		padding:0 0 0 22px;
		cursor:pointer;
	}
	&.open {
		.toggle-content {
			display:block;
		}
		.toggle-title {
			background-image: url( 'img/toggle-up.png' );
		}
	}
	&.closed {
		.toggle-content {
			display:none;
		}
	}
}

.map_canvas {
	img {
		background:transparent !important;
	}
}


.section {
	.map_canvas {
		border:11px solid #fff;
		.tvr_shadow;

	}
}

.message {
	padding:11px;
}

.linelink {
	a {
		top: -12px;
		font-size:12px;
		text-decoration:none;
	}
}



.tabs {
	margin:0 0 22px 0;
	nav {
		ul {
			margin:0px;
			padding-left:0px !important;
			li {
				.radius( 3px 3px 0 0);
				display:inline-block;
				cursor:pointer;
				position: relative;
				top:6px;
			}
		}
	}
	.tab {
		display:none;
		&:first-child {
			display:block;
		}
	}

	.tab-container {
		.radius( 0 3px 3px 3px);
	}
}

.section .tabs {
	nav li {
		padding:11px 22px;
		background:#E5E3E0;
		margin:0 0 0 11px;
		&:first-child {
			margin:0px;
		}
		&:hover {
			background: #E5E3E0 + #090909;
		}
		&.current {
			background:#fbfbfb;
			z-index:120;
		}
	}
	.tab-container {
		position:Relative;
		z-index:100;
		background:#fff;
		padding:22px;
		.tvr_shadow;
	}
}

.box .tabs {
	nav li {
		padding:11px 22px;
		background:#E5E3E0;
		margin:0 0 0 11px;
		&:first-child {
			margin:0px;
		}
		&:hover {
			background: #E5E3E0 + #090909;
		}
		&.current {
			background:#f6f6f6;
			z-index:120;
		}
	}
	.tab-container {
		position:Relative;
		z-index:100;
		background:#fafafa;
		padding:22px;
		.tvr_shadow;
	}
}


.imageslider {
	padding:0 0 11px 0;
	.flex-viewport {
		height:100%;
	}
	.flex-control-nav {
		bottom: -48px;
		margin-left:0px !important;
	}
	li {
		position:relative;
	}
	ul {
		margin:0px !important;
		padding:0px !important;
	}
	.title {
		position:absolute;
		bottom: 22px;
		width: 100%;
		background: rgba(0,0,0, 0.7);
		color:#fff;
		text-shadow:none;
		padding:11px 0;
		h1 {
			padding:0 11px;
			margin:0px;
			font-size:1.143em;
			line-height:1.4em;
		}
	}
}

/***********************************************/
/*               Content Styles                */
/***********************************************/

.content {
	line-height:1.6em;
	text-shadow: 0px 1px 0px white;
	overflow: hidden;
	zoom:1;
	p {
		margin:0 0 22px 0;
	}
	h1,h2,h3,h4,h5,h6 {
		line-hieght:1.4em;
	}

	h1 {
		font-size: 1.857em;
		margin:0 0 22px 0;
	}
	h2 {
		font-size: 1.571em;
		margin:0 0 22px 0;
	}
	h3 {
		font-size: 1.285em;
		margin:0 0 22px 0;
	}
	h4 {
		font-size: 1.143em;
		margin:0 0 22px 0;
	}
	h5 {
		font-size: 1em;
		margin:0 0 11px 0;
	}
	h6 {
		font-size: 0.857em;
		margin:0 0 11px 0;
	}
	abbr, acronym {
		cursor: help;
		border-bottom: 1px dotted @color-text;
	}
	strong {
		font-weight:700;
	}

	em {
		font-style:italic;
	}
	table {
		width:100%;
		font-size:0.857em;
		margin:0 0 22px 0;
		th {
			background:rgba(0,0,0,0.2);
			text-shadow: 0px 1px 0px #bbb;
		}
		th, td {
			padding:6px 11px;
		}
		tr:nth-of-type(odd){
			td {
				background:rgba(200,200,200,0.1)
			}
		}
	}

	small {
		font-size:0.857em;
	}


	> :last-child {
		margin-bottom:0px;
	}

	blockquote {
		margin: 0 66px 22px 66px;
		font-style: italic;
		text-align:center;
	}

	ul {
		li {
			list-style-type: square;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul, ol {
		overflow: hidden;
		margin:0 0 22px 0;
		padding-left: 22px;
		li {
			list-style-position: outside;
			padding-left: 0;
		}
		ul, ol {
			margin:0 0 0 44px;
		}
	}

	dl {
		margin:0 0 22px 0;
		dt {
			font-weight:700;
		}
		dd {
			margin:0 0 0 22px;
		}
	}
	pre {
		margin:0 0 22px 0;
	}

	.caption {
		margin:0px;
		.wp-caption {
			display:inline-block;
			height:auto;
			.wp-caption-text {
				text-align:Center;
				font-style: italic;
				font-size:0.857em;
				margin-top:4px;
				margin-bottom:0px;
			}
		}
	}

	.alignleft {
		float:left;
		margin-right: 22px;
	}

	.alignright {
		float:right;
		margin-left: 22px;
	}

	.alignnone, .aligncenter {
		display:block;
		margin:0 auto 22px auto;
		vertical-align: bottom;
	}


}

.section {
	.content {
		.image-container{
			padding:11px;
			background:#fff;
			.tvr_shadow;
			.image {
				position:relative;
				img {
					width:100%;
					margin:0px;
					background:#fff;
				}
			}
			&.aligncenter, &.alignnone {
				padding:0px;
				background:none;
				.box_shadow(none);
				.image {
					border:11px #fff solid;
					.tvr_shadow;
					display:inline-block;
				}
			}
		}
	}
}

.box {
	.content {
		.image-container{
			.image {
				position:relative;
				img {
					width:100%;
					margin:0px;
				}
			}
			&.aligncenter, &.alignnone {
				padding:0px;
				.image {
					display:inline-block;
				}
			}
		}
	}
}


/***********************************************/
/*               Site Header                   */
/***********************************************/

#site-header {
	height:43px;
	.gradient( #fbfbfb, #cbcbcb);
	line-height: 43px;
	.twelvecol {
		position:relative;
	}
	.site-logo {
		height:43px;
		display:block;
		float:left;
		margin-right:44px;
		z-index:3100;
		position:relative;
		img {
		    vertical-align: middle;
		}
	}
	.navigation {
		position:relative;
		margin-right:234px;
		font-size:12px;
		text-align:center;
		z-index:3000;
		a {
			text-decoration: none;
		}
		> div > ul {
			z-index:1000;
		}
		> div > ul > li {
			background-repeat: no-repeat;
			background-position: left top;
			text-align:left;
			&:first-child {
				background:none;
			}
			> a {
				padding:0 22px;
			}
		}
	}
	.share {
		position:absolute;
		right:0px;
		top:0px;
		.share-service {
			display:inline-block;
			&.twitter {
				position:relative;
				top:7px;
			}
			&.facebook {
				position:relative;
				top:4px;
				margin:0 11px 0 0;
			}
		}
	}
}

@media (max-width: 768px) {
	#site-header {
		height:auto !important;
		//background-image:none !important;
		.site-logo {
			float:none;
			text-align:center;
			margin:0px;
		}
		.share {
			position: relative;
			text-align: center;
			position:Relative;
			left:16px;
		}
		.navigation {
			margin:0px;
		}
	}
}


/***********************************************/
/*               Site Footer                   */
/***********************************************/

#footer-page {
  background: url(img/footer-border.png) repeat-x bottom left;
  padding-bottom:44px;
  margin-bottom:22px;
}

#site-footer {
	.box {
		border:0px;
		.box_shadow(none);
	}
	.box.widget {
		margin-bottom:0px;
	}
	.widget-area {
		margin:22px 0 44px 0;
	}
	.copyright {
		float:left;
	}
	.navigation {
		overflow:hidden;
		text-align:right;
		li {
			display:inline-block;
			margin-left:22px;
			&:first-child {
				margin:0px;
			}
			a {
				display:inline-block;
				text-decoration: none;
			}

		}
	}

	.content {
		text-shadow:none;
		padding:22px 0 0 0;
		margin-bottom:0px;
	}
}



@media (max-width: 768px) {
	#site-footer {
		text-align:center;
		.copyright {
			float:none;
		}
		.navigation {
			text-align:center;
			display:inline-block;
		}
	}
}

/***********************************************/
/*              Site Continer                  */
/***********************************************/

#site-container {
	z-index:2000;
	position:relative;
	padding-top:22px;
	.shadow-full {
		position:relative;
		top:-22px;
	}
}



/***********************************************/
/*                   Widgets                   */
/***********************************************/

.widget-container {
	position:relative;
}
.widget {
	p {
		margin:0 0 22px 0;
	}
	line-height:22px;
	padding: 22px;
	a {
		text-decoration: none;
	}
	&.scheme-content {
		.tvr_shadow;
	}
	.widget-title {
		margin:0 0 22px 0;
		.title-text {
			font-size:1.286em;
		}
	}
	&.scheme-footer {
		padding:0px;
		.widget-title .title-text{
			font-weight:700;
		}
	}

	ul {
		li {
			padding: 11px 0;
			border-width:1px 0 0 0;
			border-style: solid;
			&:first-child {
				border-top-width:0px;
			}
			ul {
				li:first-child {
					border-top-width:1px;
				}
			}

		}
		ul {
			margin:11px 0 -11px 22px;
		}
	}

}

.eb_widget_search {
	form {
		.box_shadow(0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset);
		div {
			margin:0 6px 0 0;
			padding:0 33px 0 0;
		}
		input.text {
			background:none;
			border:none;
			outline:none;
			padding:11px 6px;
			width:100%;
			.box_shadow(0px 0px 0px 0px rgba(0, 0, 0, 0) inset);
		}
		.submit {
			display:none;
		}
	}
}



.eb_widget_map {
	.widget-content {
		.content.below {
			margin-top:22px;
			p:last-child {
				margin:0px;
			}
		}
	}
}

.eb_widget_contact {
	.widget-content {
		.contact-icon {
			display:inline-block;
			margin:0 6px 0 0;
		}
		.social-buttons {
			margin:22px 0 22px 0;
		}
		p {
			margin:8px 0 0 0;
		}
		.social-icon {
			height:32px;
			width:32px;
			display:inline-block;
			&.icon-rss {
				background-image: url( 'img/round-rss.png' )
			}
			&.icon-linkedin {
				background-image: url( 'img/round-linkedin.png' )
			}
			&.icon-facebook {
				background-image: url( 'img/round-facebook.png' )
			}
			&.icon-twitter {
				background-image: url( 'img/round-twitter.png' )
			}
			&.icon-flickr {
				background-image: url( 'img/round-flickr.png' )
			}
			&:hover {
				background-position: 0 -32px;
			}
		}
	}
}

.tvr_widget_seasonal_pricing {
	.season_price {
		float:right;
		width:80px;
		text-align:right;
		font-size:1.5em;
		font-weight:700;
	}

	.season_details {
		margin-right: 102px;
		.season_name {
			font-weight:700;
		}
		.season_dates {
			font-size:0.9em;
		}
	}
}

.tvr_widget_apartment_data {
	table {
		width:100%;
		td, th {
			vertical-align: top;
			padding:5px 0;
		}
		th {
			font-weight:700;
			padding:5px 22px 5px 0;
			text-align:left;
			width:120px;
		}
		td {
			text-align:right
		}
		li {
			padding:0px;
			border:0px;
		}
	}
}

.tvr_widget_booking {
	.per_time_select {
		position:relative;
		top:-5px;
		float:right;
		.selector {
			width:88px;
			span {
				width:62px;
			}
		}
	}
	.button:hover, .button *:hover {
		cursor:pointer;
	}
	.loader {
		display:none;
		position:absolute;
		height:100%;
		width:100%;
		margin:-22px 0 0 -22px;
		padding:0px;
		z-index:9999;
		background-color:rgba(255,255,255,0.5);
	}
	.section-price {
		margin: 11px 0 22px 0;
		.price-display {
			font-size:2.843em;
			font-weight: 700;
			padding-left:6px;
			letter-spacing: 2px;
		}
	}
	.apartment-selector {
		margin:0 0 22px 0;
		.selector {
			width:100%;
			span {
				width:90%;
			}
		}
	}
	.section-total {
		margin:0 0 22px 0;
		text-align:right;
		.price-display {
			font-size:1.286em;
			font-weight: 700;
		}
	}
	label {
		font-size: 0.929em;
	}
	.button-container {
		width:100%;
		.button {
			display:block;
			text-align:center;
		}
	}
	.date-col {
		float:left;
		width:35%;
		margin-right:2.4%;
		input {
			width:100%;
		}
	}
	.guest-col {
		float:left;
		width:25%;
		.selector {
			width: 100%;
			position:relative;
			top:-1px;
			span {
				width:60%;
			}
		}
	}
}

/***********************************************/
/*              Post Templates                 */
/***********************************************/

.post-layout-binder {
	text-align:Center;
	.post-content {
		background: #f8f8f8 url( 'img/post-default-layout-bg.png' ) repeat-y left top;
		text-align:left;
	}
	.post-meta {
		a {
			text-decoration:none;
		}
	}
	.post-meta.side {
		width:148px;
		float:left;
		padding:22px;
		a {
			text-decoration:none;
		}
		.post-date {
			.month {
				font-size: 1.714em;
			}
			.year {
				color:#999;
			}
		}
		.meta {
			font-size:0.857em;
			margin-top:11px;
			&:first-child {
				margin:0px;
			}
		}
	}
	.post-meta.horizontal {
		background:#f8f8f8;
		padding:11px;
		font-size:12px;
		margin:-11px 0 11px 0;

	}
	.read-more {
		display:inline-block;
		margin:22px 0 0 0;
	}
	.separator {
		width:66px;
		height:5px;
		background:#E1E1E1;
		margin:22px 0;
	}
	.post-text {
		margin-left:202px;
		padding:22px;
	}
	.post-title {
		font-size:1.714em;
		margin:0 0 22px 0;
		line-height: 1.5em;
		a {
			color:inherit;
			text-decoration: none;
		}
	}

}

@media (max-width: 512px) {
	.post-layout-binder {
		.post-content {
			background: #fff;
		}
		.post-text {
			margin:0px;
		}
	}
}



.post-layout-thumbnail {
	.image-container.left {
		width:240px;
		margin:0 22px 0 0;
		float:left;
	}
	&.sidebar-off {
		.image-container.left {
			width:320px;
		}
		.details.right {
			margin-left: 366px;
		}
	}
	.details.right {
		overflow:hidden;
		margin-left: 286px;
	}

	.image-container.right {
		width:240px;
		margin:0 0 0 22px;
		float:right;
	}
	&.sidebar-off {
		.image-container.right {
			width:320px;
		}
		.details.left {
			margin-right: 366px;
		}
	}
	.details.left {
		overflow:hidden;
		margin-right: 286px;
	}


	.post-title {
		font-size:1.714em;
		margin:0 0 22px 0;
		line-height: 1.5em;
		a {
			color:inherit;
			text-decoration: none;
		}
	}
	.post-meta.horizontal {
		background:#f8f8f8;
		padding:11px;
		font-size:12px;
		margin:-11px 0 11px 0;
		.meta {
			display:inline-block;
			margin:0 11px 0 0;
			&:last-child {
				margin:0px;
			}
		}
	}
	.read-more {
		display:inline-block;
		margin:22px 0 0 0;
	}

}


@media (max-width: 512px) {
	.post-layout-thumbnail {
		.image-container {
			display:none;
		}
		.details {
			margin-left:0px !important;
			margin-right:0px !important;
		}
	}
}



.post-layout-simple {
	.post-text {
		padding:22px;
	}
	.post-title {
		font-size:1.714em;
		margin:0 0 22px 0;
		line-height: 1.5em;
		a {
			color:inherit;
			text-decoration: none;
		}
	}
	.read-more {
		display:inline-block;
		margin:22px 0 0 0;
	}
}


.attachment-layout-default {
	h1 {
		font-size:1.8em;
		margin:0 0 22px 0;
	}
}

.gallery-layout-default {
	margin-bottom:44px;
	.tvr_textshadow;
	text-align: center;
	.image-container {
		margin:0;
	}
	.title {
		margin:22px 0 0 0;
		font-size:1.571em;
		line-height: 1.4em;
		a {
			color:inherit;
			text-decoration: none;
		}
	}
	.date {
		font-size:0.857em;
		margin:11px 0 0 0;
	}
	.content {
		margin:11px 0 0 0;
	}
	.read-more {
		display:inline-block;
		margin:22px 0 0 0;
	}

}

.gallery-layout-overlay {
	text-align:center;
	margin-bottom:44px;
	.image {
		position:relative;
		overflow:hidden;
		.title {
			position:absolute;
			bottom:11px;
			width:100%;
			background:rgba(0,0,0,0.8);
			line-height:2em;
			a {
				display:inline-block;
				padding:5px 11px;
				color:#fff;
				text-decoration: none;
			}
		}
	}
	.date {
		font-size:0.857em;
		margin:11px 0 0 0;
	}
	.content {
		margin:11px 0 0 0;
	}
	.read-more {
		display:inline-block;
		margin:22px 0 0 0;
	}

}



/***********************************************/
/*                 Single Post                 */
/***********************************************/

.single-meta {
	margin:22px 0 0 0;
}

.link-pages {
	margin:0 0 44px 0;
}

.single.type-post {
	padding:0 0 66px 0;
	.image-container {
		position:relative;
		.shadow-full {
			position:absolute !important;
			top:auto !important;
			bottom:-11px !important;
			width:100%;
		}
	}
	.title {
		font-size:2.143em;
		line-height: 1.4em;
	}
	.meta {
		margin: 22px 0 0 0;
		font-size:0.857em;
		li {
			display:inline-block;
			margin-left:22px;
			&:first-child {
				margin:0px;
			}
			&.comments {
				float:right;
				margin:0px;
			}
			.comments-icon {
				height:13px;
				width:17px;
				display:inline-block;
				background: url( 'img/icon-comment.png' );
				position:relative;
				top:2px;
				margin:0 5px 0 0;
			}
			a {
				text-decoration: none;
			}
		}
	}
	.content {
		margin:22px 0 0 0;
	}
}

.single.type-attachment {
	padding:0 0 66px 0;
	.image-container {
		position:relative;
		.shadow-full {
			position:absolute !important;
			top:auto !important;
			bottom:-11px !important;
			width:100%;
		}
	}
	.title {
		font-size:2.143em;
		line-height: 1.4em;
	}
	.content {
		margin:22px 0 0 0;
	}
}


/***********************************************/
/*                  Comments                   */
/***********************************************/

.comments-title {
	font-size: 1.286em;
	margin:0 0 44px 0;
}

.commentlist {
	margin: 0 0 44px 0;
	.comment {
		.comment-inner {
			overflow:hidden;
			zoom:1;
			border-top:1px solid #F0EDE7;
			padding:22px 0;
			.comment-image {
				width:56px;
				float:left;
			}
			.comment-content {
				margin-left: 78px;
				header {
					overflow: hidden;
					zoom:1;
					a {
						text-decoration: none;
					}
					.comment-author {
						display:inline-block;
						margin:0 44px 0 0;
						font-weight:700;
					}
					.comment-time {
						display:inline-block;
						color: @color-text-light;
					}
					.comment-reply {
						display:inline-block;
						float:right;
					}
				}
			}
		}
		&:last-child {
			.comment-inner {
				padding-bottom:0px;
			}
		}
		.children {
			margin:0 0 22px 44px;
		}

		&.bypostauthor {
			background:transparent;
		}
	}
	> .comment:first-child {
		> .comment-inner {
			border-top:0px;
			padding-top:0px;
		}
	}
}

#respond {
	p {
		margin: 0 22px 11px 0;
	}
	label {
		font-weight:700;
		font-size:0.857em;
	}
	input, textarea {
		display:block;
		width:100%;
		padding:11px;
	}
	#reply-title {
		font-size: 1.286em;
		margin:0 0 44px 0;
	}
}


/***********************************************/
/*                  Galleries                  */
/***********************************************/

.gallery{
	width:102%;
	margin-left:-1%;
	margin-bottom:44px;
	.inner {
		position:relative;
		display:none;
	}

	.gallery-item {
		width:31.3%;
		margin-left:0.8%;
		margin-right:0.8%;
	}
	&.col-2 {
		.gallery-item {
			width:48%;
		}
	}
	&.col-3 {
		.gallery-item {
			width:31.3%;
		}
	}
	&.col-4 {
		.gallery-item {
			width:23%;
		}
	}
	&.col-5 {
		.gallery-item {
			width:18%;
		}
	}
	&.col-6 {
		.gallery-item {
			width:14.6%;
		}
	}
}

.gallery-filter {
	text-align:Center;
	margin:0 0 44px 0;
	.button {
		padding:8px 22px;
	}
}

.wp-gallery.gallery .gallery-item {
	margin:0px;
}


/***********************************************/
/*             Isotope Filtering               */
/***********************************************/


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/***********************************************/
/*                   Forms                     */
/***********************************************/

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	outline:none;
	background: url( 'img/forms/slider-handle.png');
	position: absolute;
	z-index: 2;
	width: 19px;
	height: 19px;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background: url( 'img/forms/slider-range.png') repeat-x;
}

.ui-slider-horizontal {
	height: 9px;
	background: url( 'img/forms/slider-background.png') repeat-x;
}
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/***********************************************/
/*              Apartment Filter               */
/***********************************************/

.apartment-filters {
	margin:0 0 44px 0;
	.filterbox {
		margin: -1px 0 0 0;
		&:first-child {
			margin: 2px 0 0 0;
		}
		.filterbox-header {
			border:1px solid #d1cfca;
			.gradient( #eeedea, #e8e6e3 );
			.box_shadow( 0 0 1px 0 #fff inset );
			padding:16px 22px;
			.filterbox-title {
				overflow:hidden;
				display:inline-block;
				font-size:1.286em;
			}
			.filterbox-controls {
				float:right;
				font-size:0.929em;
			}
		}
		&:first-child {
			.filterbox-header {
				.radius( 5px 5px 0 0 );
			}
		}
		.filterbox-content {
			margin:-5px 0 0 0;
			background:#fff;
			.tvr_shadow;
			padding:22px 22px 22px 22px;
			border:1px solid #ddd;
		}
	}
	.search {
		margin-right:12px;
		input {
			border:1px solid #f2f2f2;
			outline:none;
			.radius(2px);
			padding:6px;
			width:100%;
		}
	}
	.checker {
		position:Relative;
		top:-2px;
	}
	.selector {
		margin:0 0 11px 0;
	}
	.amount {
		border:0px;
		font-weight:700;
		font-size:14px;
		margin:8px 0 0 0;
		max-width:180px;
		padding:0px;
		display:block;
		.box_shadow(0 0 0 0 #fff);
	}
	.slider-range {
		margin:11px 0 11px 0;
	}

}

.apartment-filter-form {

	.inner {
		display:none;
	}
	.filter-col.left {
		float:left;
		margin-right:3.8%;
	}
	.content-col.right {
		float:right;
		margin:0px;
	}
	.filter-col.right {
		float:right;
		margin:0px;
	}
	.content-col.left {
		float:left;
		margin-right:3.8%;
	}
}

.apartment-list {
	margin:44px 0 0 0;
}

.apartmentlist-layout-default {
	margin:0px;
	.booknow-phone {
		display:none;
	}
	.apartment-image {
		width:220px;
		float:left;
		margin:0 18px 0 0;
		a {
			display:block;
			margin:0px;
		}
		img {
			display:block;
			margin:0px;
		}
	}
	.apartment-content {
		background: #fff url('img/apartment-default-layout-bg.png') repeat-y right top;
		overflow:hidden;
		min-height:160px;
		zoom:1;
		margin-left: 264px;
		.apartment-main {
			overflow:hidden;
			zoom:1;
		}
		.apartment-sidebar {
			float:right;
			width:90px;
			margin-left:44px;
			ul {
				li {
					padding:3px 0;
				}
			}
		}
		.box-content {
			padding:22px;
		}
		.title {
			font-size:1.714em;
			line-height:1.4em;
			a {
				color:inherit;
				text-decoration: none;
			}
		}
		.price {
			font-size:1.714em;
			font-weight:700;
			margin:0 0 11px 0;
		}
		.details {
			margin:0 0 11px 0;
			font-size:0.857em;
		}
		.type {
			margin:5px 0 0 0;
			font-size:0.857em;
		}
		.amenities {
			margin:22px 0 0 0;
			font-size:0.857em;
			line-height:22px;
			h2 {
				font-size:1.333em;
				margin:0 0 6px 0;
			}

		}
		.content {
			margin:22px 0 0 0;
			font-size:0.857em;
		}
	}
}

@media (max-width: 1080px) {

	.apartmentlist-layout-default {
		.apartment-content {
			margin-left:0px;
		}
	}

	.filter-col {
		display:none;
	}

	.content-col {
		width:100% !important;
	}

}

@media (max-width: 800px) {
	.apartment-image {
		display:none;
	}
}

@media (max-width: 512px) {
	.page-template-template-apartmentlist-php  #blueprint-content > .page-content > .row > .twelvecol {
		padding:0px !important;
	}
	.content-col {
		margin:0px !important;
		padding:0px !important;
		.selector {
			display:none;
		}
	}
	.apartmentlist-layout-default {
		.apartment-content {
			background-image:none;
		}
		.apartment-sidebar {
			display:none;
		}
		.booknow-phone {
			display:block;
			margin:44px 0 0 0;
			.price {
				display:inline-block;
				margin:0 0 0 11px;
			}
			.button {
				position:relative;
				top:-8px;
			}
		}
	}
}



.apartmentlist-layout-fancy {
	margin:0 0 22px 0;
	.apartment-image {
		margin:0 22px 0 0;
		overflow:hidden;
		img {
			display:block;
			margin:0px;
		}
		.inner {
			position:Relative;
		}
		.price {
			background:rgba(0,0,0,0.8);
			position:absolute;
			top:22px;
			left:0px;
			padding:22px;
			color:#fff;
			font-weight:700;
			font-size:2em;
			display:inline-block;
			.button-container {
				font-size:12px;
				line-height:20px;
				position:relative;
				top:-6px;
				margin-left:11px !important;
			}
		}
		.apartment-content {
			position:absolute;
			background:rgba(0,0,0,0.8);
			bottom:22px;
			left:10%;
			width:90%;
			.content-inner {
				padding:22px;
			}
			.title {
				display:inline-block;
				a {
					color:#fff;
					text-decoration: none;
				}
				font-size:1.714em;
			}
		}

	}
}


/***********************************************/
/*               Date Picker                   */
/***********************************************/


.ui-datepicker {
	padding:11px;
	background:#fff;
	.tvr_shadow;
	width:240px;
	.content {
		font-size:0.9em;
		margin:0 0 11px 0;
	}
	.apartment-title {
		font-size:22px;
		text-align:center;
	}
	.ui-datepicker-header {
		position:relative;
		a {
			font-size:12px;
			cursor: pointer;
		}
		.ui-datepicker-prev {
			position:absolute;
			left:0px;
			top:15px;
		}
		.ui-datepicker-next {
			position:absolute;
			right:0px;
			top:15px;
		}
		.ui-datepicker-title {
			clear: both;
			padding:11px;
			font-weight:700;
			text-align:center;
			font-size:18px;
		}
	}
	table {
		width:100%;
		th {
			text-align: center;
			font-weight:700;
			padding:9px 4px;
		}
		td {
			padding:1px;
			a, span {
				padding:6px 4px;
				display:block;
				text-align: center;
			}
			.ui-state-default {
				background: #C1DDA6;
				border:1px solid #C1DDA6 - #151515;
				color: #28440D !important;
				text-decoration: none;
				&::hover {
					background:  #C1DDA6 + #111;
					border:1px solid #C1DDA6;
				}
			}
			&.unavailable .ui-state-default {
				background: #B22E27;
				border:1px solid #B22E27 - #151515;
				color: #fff !important;
			}
			&.past .ui-state-default {
				background: #f1f1f1;
				border:1px solid #f1f1f1 - #151515;
				color: #4C4841 !important;
			}
		}
		.ui-datepicker-unselectable.available .ui-state-default {
			background: #f1f1f1 !important;
			border:1px solid #f1f1f1 - #151515;
			color: #4C4841 !important;
		}
	}
}

.tvr_widget_calendar {
	h1.apartment_title {
		font-size:1.5em;
		text-align:center;
		margin:0 0 11px 0;
	}
}
.tvr_widget_calendar .ui-datepicker {
	.box_shadow(none);
		padding:0px !important;
		width:100% !important;
	.ui-datepicker-inline {
		margin:0px;
		padding:0px !important;
		width:100% !important;
	}
}



/***********************************************/
/*               Booking Form                  */
/***********************************************/


#booknow-form {
	position:relative;
	p {
		margin:0 0 44px 0;
	}
	label {
		display: block;
		margin:0 0 6px 0;
		font-weight:700;
	}
	input, textarea {
		width:100%;
	}
	textarea {
		height:230px;
	}
	.selector {
		position:Relative;
		top:-3px;
		width:230px;
		span {
			width:202px;
		}
	}
	.guests-selector .selector {
		width:60px;
		span {
			width:32px;
		}
	}
	.loader {
		display:none;
		position:absolute;
		height:102%;
		width:102%;
		padding:0px;
		margin:-1% 0 0 -1%;
		z-index:9999;
		background-color:rgba(0,0,0,0.2);
		.radius(8px)
	}

}


/***********************************************/
/*          	 Apartment Slider              */
/***********************************************/


#rfas-container {
	margin:0 0 44px 0;
	#rfas-image-cache {
		display:none;
	}
	#rfas-windows {
		position:relative;
		margin:0 0 44px 0;
		#rfas-prev-container {
			max-height:400px;
			width:800px;
			position:absolute;
			left:0px;
			top:15px;
			z-index:2000;
			transition: left .1s ease;
			-moz-transition: left .1s ease;
			-webkit-transition: left .1s ease;
			&:hover {
				left:-5px;
			}
		}
		#rfas-current-container {
			max-height:430px;
			width:960px;
			margin:0 auto;
			position:relative;
			z-index:3000;
		}

		@media (max-width: 1130px) {
			#rfas-current-container {
				width:100%;
			}
		}

		#rfas-next-container {
			max-height:400px;
			width:800px;
			position:absolute;
			right:0px;
			top:15px;
			z-index:2000;
			transition: right .1s ease;
			-moz-transition: right .1s ease;
			-webkit-transition: right .1s ease;
			&:hover {
				right:-5px;
			}
		}
		.image {
			max-height:400px;
			height:100%;
			width:100%;
			overflow:hidden;
			.visible {
				position: relative;
				z-index:2000;
			}
			.invisible {
				position:absolute;
				top:0px;
				left:0px;
				z-index:1000;
			}
		}
		#rfas-current {
			max-height:430px;
		}
		#rfas-next, #rfas-prev {
			transition: opacity .1s ease;
			-moz-transition: opacity .1s ease;
			-webkit-transition: opacity .1s ease;
			opacity:0.6	;
			cursor:pointer;
			&:hover {
				.opacity(1);
			}
		}
	}
	#rfas-nav {
		position: relative;
		zoom: 1;
		.image {
			margin:0 0 0 11px;
			cursor:pointer;

			.inner {
				background:#000;
			}
			img {
				transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
				opacity:0.6	;
				&:hover {
					opacity: 1;
				}
			}
			&:first-child {
				margin:0px;
			}
			&.current {
				img {
					opacity:1;
				}
			}
		}
		.flex-viewport {
			max-height: 2000px;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			transition: all 1s ease;
		}
		.slides {
			zoom: 1;
		}
		.flex-direction-nav {
			*height: 0;
			a {
				width: 30px;
				height: 30px;
				margin: -20px 0 0;
				display: block;
				background: url(img/flexslider/bg_direction_nav.png) no-repeat 0 0;
				position: absolute;
				top: 50%;
				z-index: 10;
				cursor: pointer;
				text-indent: -9999px;
				opacity: 0;
				-webkit-transition: all .3s ease;
			}
			.flex-next {
				background-position: 100% 0;
				right: -36px;
			}
			flex-prev {
				left: -36px;
			}
			.flex-disabled {
				opacity: .3!important;
				filter:alpha(opacity=30);
				 cursor: default;
			}

		}
		&.centered {
			.slides {
				width: 100% !important;
				text-align: center;
			}
			.image {
				display: inline-block !important;
				*display: inline !important;
				float: none!important;
			}
		}
		&:hover {
			.flex-next {
				opacity: 0.8;
				right: 5px;
				&:hover {
					opacity:1;
				}
			}
			.flex-prev {
				opacity: 0.8;
				left: 5px;
				&:hover {
					opacity:1;
				}
			}
		}

		@media screen and (max-width: 860px) {
			.flex-direction-nav .flex-prev {
				opacity: 1;
				left: 0;
			}
			.flex-direction-nav .flex-next {
				opacity: 1;
				right: 0;
			}
		}

		.flex-control-nav {
			width: 100%;
			position: absolute;
			bottom: -40px;
			text-align: center;
			li {
				margin: 0 6px;
				display: inline-block;
				zoom: 1;
				*display: inline;
			}

		}

		.flex-control-paging
			li a {
				width: 11px;
				height: 11px;
				display: block;
				background: #666;
				background: rgba(0,0,0,0.5);
				cursor: pointer;
				text-indent: -9999px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-o-border-radius: 20px;
				border-radius: 20px;
				box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
				&:hover {
					background: #333;
					background: rgba(0,0,0,0.7);
		 		}
		 		.flex-active {
			 		background: #000;
			 		background: rgba(0,0,0,0.9);
			 		cursor: default;
		 		}
			}
		}

		.flex-control-thumbs {
			margin: 5px 0 0;
			position: static;
			overflow: hidden;
			li {
				width: 25%;
				float: left;
				margin: 0;
			}
			img {
				width: 100%;
				display: block;
				opacity: .7;
				cursor: pointer;
				&:hover {
					opacity:1;
				}
			}
			.flex-active {
				opacity: 1;
				cursor: default;
			}
		}

	}

.eightcol #rfas-container {
	#rfas-windows {
		#rfas-prev-container, #rfas-next-container {
			width:600px;
		}
		#rfas-current-container {
			width:658px;
		}
		@media (max-width: 1130px) {
			#rfas-current-container {
				width:100%;
			}
		}

	}
}



.sticky, .gallery-caption {
	display:block;
}


/***********************************************/
/*               Responsiveness                */
/***********************************************/

.hidden {
  display: none;
}

.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
.visible-desktop   { display: inherit !important; }
.visible-full      { display: inherit !important; }


@media (max-width: 1130px) {
	.visible-full      { display: none !important; }
}

@media (min-width: 820px) and (max-width: 979px) {
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  .visible-tablet    { display: inherit !important; }
  .hidden-tablet     { display: none !important; }
}

@media (max-width: 521px) {
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  .visible-phone     { display: inherit !important; }
  .hidden-phone      { display: none !important; }
}

