/*
Theme Name: CandG
Theme URI: http://wordpress.org/themes/candg-website
Author: Alex R. Johnson & kurt A. Johnson
Author URI: N/A
Description: The 2015 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: CandG

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@charset "UTF-8";
/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  height: 100%;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  display: block;
  outline: none; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: inline-block;
  height: 43px;
  width: 63px; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
#viewer #slider {
  height: calc(100% - 150px); 
}

.flexslider {
  position: relative;
  zoom: 1; }

.flexslider .slides {
  zoom: 1;
  position: relative;
  height: 100%; }

.flexslider .slides img {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 70%;
  outline:none;
  margin: 0 auto; }

  .slides li div{
    position: relative;
    right: 0%;
    cursor: pointer;
    left: 250px;
    width: calc(100% - 500px)!important;}

.flexslider .slides .img-slider {
  height: 40px;
  width: 55px;
  outline: none;
  outline: none; }
  .flexslider .slides .img-slider:hover {
    opacity: 0.6; }

.flex-viewport {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  max-width: 40px;
  max-height: 40px;
  height: auto;
  width: auto;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: url("../assets/images/keyleft.png");
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.flex-direction-nav a.flex-next:before {
  content: url("../assets/images/keyright.png"); }

.flex-direction-nav .flex-prev {
  left: -50px;
  content: url('../assets/images/keyleft.png');
  -moz-content: url("../assets/images/keyleft.png"); }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  content: url("../assets/images/keyright.png");
  -moz-content: url("../assets/images/keyright.png"); }

.flexslider .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
  content: url('../assets/images/keyleft.png');
  -moz-content: url("../assets/images/keyleft.png"); }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
  content: url('../assets/images/keyleft.png');
  -moz-content: url("../assets/images/keyleft.png"); }

.flexslider .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
  -moz-content: url("../assets/images/keyright.png");
  content: url("../assets/images/keyright.png"); }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
  content: url("../assets/images/keyright.png");
  -moz-content: url("../assets/images/keyright.png"); }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: url('../assets/images/keyleft.png'); }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: url('../assets/images/keyleft.png'); }

.flex-control-nav {
  width: 100%;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: gray;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #444;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: #fff;
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  outline: none;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1;
  outline: none; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

#carousel .flex-active-slide {
  border: 2px solid white;
  height: 44px; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: transparent; }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8); }
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    height: 80%;
    border: 2px solid #12a3cd;
    width: 50%;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    /*border-bottom: 25px solid transparent;*/
    /* dimensions: handling small or empty content */
    min-width: 30%;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: #fff;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal; }
  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block; }
  .featherlight-content h3{
    text-transform: uppercase;
  }
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 50px;
    width: 50px;
    font-size: 35px;
    font-weight: bolder;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000; }
  .featherlight-content h3 {
    font-size: 26px;
    padding: 5px; }
  .featherlight-content p {
    padding: 5px;
    font-size: 18px; }
  .featherlight .featherlight-image {
    /* styling */
    width: 100%; }
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0; }
  .featherlight iframe {
    /* styling */
    border: none; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent; } }

/* ==========================================================================
    FONTS
   ========================================================================== */
.opensans-light, .feature-callout .button, .feature-callout .button-callout, .feature-callout__initial-header, .feature-callout--mini .feature-callout__final-header, #button, .banner__contant-address, .banner__contant .banner__contant-list, .banner__contant .banner__contant-list .banner__label, .amenities__container .amenities__list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300; }

.opensans-normal, .section__sub-title, .button, .button-callout, .column__container {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400; }

.opensans-bold, .section__main-title, .feature-callout--mini .feature-callout__initial-header, .feature-callout__final-header, .callout-list__item__title {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700; }

/* ==========================================================================
    VARS
   ========================================================================== */
/* ==========================================================================
    ICONS
   ========================================================================== */
/* ==========================================================================
    MIXINS
   ========================================================================== */
.clearfix:after, .container:after, .callout-list:after {
  content: "";
  display: table;
  clear: both; }

/* ==========================================================================
    GLOBAL
   ========================================================================== */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: 10px Arial, sans-serif;
  min-height: 100%; }

a {
  text-decoration: none;
  color: #0fa1d0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 { 
    
    font-size: 24px;
  }
   
h2 {
    font-size: 22px;

}

  h3 { 
  font-size: 18px;

}

h4 { 
   font-size: 16px;

}
h5 { 
    font-size: 12px;

}

h6 { 
    font-size: 10px;

}
.column__container em{
  font-style: italic;
}
.column__container ul
{
    list-style: initial;
    margin: initial;
    
}

.column__container ol li {
  list-style: decimal;
  padding: 0.5em;
}
.column__container ol {
  list-style: decimal outside;
}
.column__container blockquote {
  font: 14px/22px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 
i, cite, em, var, address {
  font-style: inherit; }

button {
  background-color: transparent;
  border: none;
  padding: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 767px) {
  .section {
    padding: 80px 0;
    height: auto; } }

@media (min-width: 768px) {
  .section {
    padding: 80px 0; } }

.section-lightblue {
  padding: 40px 0;
  background: #e8f4f7; 
  }
 /* section  .section-lightblue  .borderline{
    height: 100%;
  }*/

.section__header {
  color: #333;
  text-align: center; }
  @media (max-width: 767px) {
    .section__header {
      margin-bottom: 15px; } }
  @media (min-width: 768px) {
    .section__header {
      margin-bottom: 30px; } }

.section__main-title, .feature-callout--mini .feature-callout__initial-header {
  font-size: 28px; }

.section__sub-title {
  font-size: 14px; }

.button, .button-callout {
  border-radius: 3px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 36px;
  padding: 0 10px;
  text-transform: uppercase; }

.button-callout {
  border: none;
  background-color: rgba(18, 163, 205, 0.8);
  line-height: 40px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }
  .button-callout:hover {
    background-color: #12a3cd; }

/* ==========================================================================
    HEADER
   ========================================================================== */
.header {
  background-color: #12a3cd;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: background-color 0.25s, padding 0.25s;
  -moz-transition: background-color 0.25s, padding 0.25s;
  transition: background-color 0.25s, padding 0.25s; }
  .template-home .header {
    background-color: rgba(18, 163, 205, 0);
    padding: 20px 0; }
    .template-home .header.solid-state {
      background-color: #12a3cd;
      padding: 10px 0; }

.logo {
  height: 43px;
  float: left;
  overflow: hidden; }
  .logo a {
    background: url(../assets/images/global/logo.png) no-repeat left;
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%; }
  @media (max-width: 767px) {
    .logo {
      width: 108px; } }
  @media (min-width: 768px) {
    .logo {
      width: 278px; } }

.un-nav {
  color: #fff;
  float: right;
  height: 40px; }
  .un-nav .button, .un-nav .button-callout {
    float: right;
    margin-left: 20px; }
    @media (max-width: 767px) {
      .un-nav .button, .un-nav .button-callout {
        width: 100px;
        overflow: hidden;
        text-align: center; } }

.call-us {
  background: url(../assets/images/global/cellphone.png) no-repeat left;
  height: 100%;
  line-height: 40px;
  color: #fff;
  display: inline-block;
  overflow: hidden; }
  @media (max-width: 767px) {
    .call-us {
      background-position: center;
      width: 20px;
      text-indent: -999px; } }
  @media (min-width: 768px) {
    .call-us {
      padding-left: 20px; } }

.call-us:hover, .button:hover, .button-callout:hover, .logo:hover {
  opacity: 0.6; }

.error {
  color: red;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 10px; }

.fixed {
  position: fixed;
  width: 100%; }

img {
  outline: none;
  border-style: none; }

/* ==========================================================================
    ANIMATION
   ========================================================================== */
/* ==========================================================================
    FOOTER
   ========================================================================== */
.global-footer {
  width: 100%;
  font-size: 10px;
  background: #114e68; }

.global-footer-container {
  float: left; }
  .global-footer-container img {
    float: left; }

.global-footer-text-container {
  display: inline-block;
  bottom: 19px;
  color: white;
  float: left;
  padding-top: 20px; }

.global-footer-text {
  display: inline-block;
  padding: 0 5px; }

.global-footer-link {
  color: white;
  padding: 0 5px;
  border-left: 1px solid white; }
  .global-footer-link:hover {
    text-decoration: underline; }

.global-footer-minicontainer {
  color: white;
  float: right;
  padding-top: 20px; }
  .global-footer-minicontainer .global-footer-devloped {
    text-decoration: underline; }

@media (max-width: 640px) {
  .global-footer-minicontainer {
    float: left; } }

/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* Copyright 2012 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  zoom: 1; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: 0.5em 0.5em 0.5em 0.7em;
  zoom: 1; }

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-noicons {
  padding-left: .7em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
  zoom: 1; }

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default; }

/* workarounds */
* html .ui-autocomplete {
  width: 1px; }

/* without this, the menu expands to 100% in IE6 */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible; }

/* the overflow property removes extra width in IE */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none; }

.ui-button-icon-only {
  width: 2.2em; }

/* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only {
  width: 2.4em; }

/* button elements seem to need a little more width */
.ui-button-icons-only {
  width: 3.4em; }

button.ui-button-icons-only {
  width: 3.7em; }

/*button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4; }

.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px; }

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em; }

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em; }

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em; }

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: 0.4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px; }

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px; }

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: .5em; }

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em; }

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em; }

/*button sets*/
.ui-buttonset {
  margin-right: 7px; }

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 0.4em; }

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/ }

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  width: 300px;
  overflow: hidden; }

.ui-dialog .ui-dialog-titlebar {
  padding: 0.4em 1em;
  position: relative; }

.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.1em 0; }

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px; }

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px; }

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0; }

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1; }

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  padding: 0.3em 1em 0.5em 0.4em; }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right; }

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer; }

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px; }

.ui-draggable .ui-dialog-titlebar {
  cursor: move; }

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none; }

.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute; }

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 100%; }

.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px 0.4em;
  line-height: 1.5;
  zoom: 1;
  font-weight: normal; }

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px; }

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: 0.4em 0 0.2em;
  line-height: 1.5; }

.ui-menu .ui-state-disabled a {
  cursor: default; }

/* icon support */
.ui-menu-icons {
  position: relative; }

.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em; }

/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right; }

.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden; }

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%; }

.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }

.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

.ui-slider-horizontal {
  height: .8em; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle; }

.ui-spinner-input {
  border: none;
  background: none;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px; }

.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0; }

.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none; }

/* more specificity required here to overide default borders */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0; }

/* vertical centre icon */
.ui-spinner-up {
  top: 0; }

.ui-spinner-down {
  bottom: 0; }

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px; }

.ui-tabs {
  position: relative;
  padding: .2em;
  zoom: 1; }

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0.2em 0.2em 0; }

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px 0.2em 0 0;
  border-bottom: 0;
  padding: 0;
  white-space: nowrap; }

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text; }

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer; }

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none; }

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa; }

/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
  background-image: none; }

body .ui-tooltip {
  border-width: 2px; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff 50% 50% repeat-x;
  color: #222222; }

.ui-widget-content a {
  color: #222222; }

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold; }

.ui-widget-header a {
  color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555555; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555555;
  text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); }

/* For IE8 - See #6059 */
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_888888_256x240.png); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png); }

.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png); }

.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-on {
  background-position: -96px -144px; }

.ui-icon-radio-off {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-start {
  background-position: -80px -160px; }

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30); }

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

/* ==========================================================================
    FEATURE CALLOUT
   ========================================================================== */
.feature-callout {
  background: no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 100%;
  display: block;
  text-align: center; }
  .feature-callout .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .feature-callout .button, .feature-callout .button-callout, .feature-callout .button-callout {
    margin-top: 30px;
    width: 50%;
    height: inherit;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    padding: 10px; }
    @media (max-width: 767px) {
      .feature-callout .button, .feature-callout .button-callout, .feature-callout .button-callout {
        font-size: 16px; } }
    @media (min-width: 768px) {
      .feature-callout .button, .feature-callout .button-callout, .feature-callout .button-callout {
        font-size: 20px; } }
  .feature-callout--mini {
    height: auto;
    background-attachment: initial; }
    @media (max-width: 767px) {
      .feature-callout--mini {
        padding: 20px 0; } }
    @media (min-width: 768px) {
      .feature-callout--mini {
        padding: 80px 0; } }
    .feature-callout--mini .container {
      top: 0;
      transform: translateY(0); }

.feature-callout__initial-header {
  text-transform: uppercase;
  text-shadow: 0px 0px 5px black; }
  @media (max-width: 767px) {
    .feature-callout__initial-header {
      font-size: 28px; } }
  @media (min-width: 768px) {
    .feature-callout__initial-header {
      font-size: 48px; } }
  .feature-callout--mini .feature-callout__initial-header {
    text-transform: none;
    font-size: 36px; }

.feature-callout__final-header {
  text-transform: uppercase;
  text-shadow: 0px 0px 5px black;
  padding-bottom: 38px;
  padding-top: 10px;
  font-size: 60px; }
  @media (max-width: 767px) {
    .feature-callout__final-header {
      font-size: 34px; } }
  @media (min-width: 768px) {
    .feature-callout__final-header {
      font-size: 60px; } }
  .feature-callout--mini .feature-callout__final-header {
    text-transform: none;
    font-size: 18px; }

.feature-callout-renters__mini {
  color: #fff;
  height: 190px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  text-align: center;
  position: relative;
  /*background: top center;*/ }

#button {
  border-radius: 3px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
  text-transform: uppercase; }

/* ==========================================================================
    GENERIC CALLOUT
   ========================================================================== */
.callout-list__item {
  position: relative; }
  @media (max-width: 767px) {
    .callout-list__item {
      width: 100%;
      margin-bottom: 15px; } }
  @media (min-width: 768px) {
    .callout-list__item {
      display: inline-block;
      width: calc(33% - 20px);
      margin: 10px; } }
  .callout-list__item img {
    display: block;
    object-fit:cover;
    width: 100%; }
    .callout-list__item img:hover {
      opacity: 0.6; }
  @media (min-width: 768px) {
    .callout-list__item--large {
      width: calc(66% - 15px); }
      .callout-list__item--large:nth-child(4n+3) {
        float: right; } }

.callout-list__item__anchor {
  display: block; }

.callout-list__item img {
  height: auto;
  min-height: 300px;
  object-fit:cover;
  max-height: 300px; }

.callout-list__item__title {
  color: #fff;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media (max-width: 767px) {
    .callout-list__item__title {
      font-size: 26px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); } }
  @media (min-width: 768px) {
    .callout-list__item__title {
      font-size: 26px;
      bottom: 20px; } }

.overlay {
  display: none; }

#viewer {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9); }

#close {
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  height: 50px;
  width: 100px;
  top: 30px;
  right: 0%; }
  #close:hover {
    opacity: 1; }
  #close:after {
    position: absolute;
    top: 0;
    height: 50px;
    width: 50px;
    right: 50px;
    content: url("../assets/images/cross.png");
    /* use the hex value here... */ }

.flexslider .slides .img-slider {
  margin: 0 auto; }

#carousel {
  max-width: 50%;
  margin: 25px auto;
  padding-left: 50px;
  padding-right: 50px; }

/* ==========================================================================
    Maintenance CALLOUT
   ========================================================================== */
.borderline {
  border-top: 10px solid #032a36;
  padding-top: 30px; }

.section__column {
  float: left;
  width: 30%; }
  .section__column:last-child {
    float: right;
    width: 70%; }

.section__appform {
  font-size: 12px;
  font-weight: bold;
  display: block; }

  .section__appform li a{
    display: block;
    text-decoration: none;
    color: #3db3d5;
    margin: 10px 0 0 0;  }
    
  .section__appform li a:hover {
    color: black; }

.section__appform .current-menu-item a { color: black;
  opacity: 1; }

.callout-form__item__anchor {
  display: block;
  text-decoration: none;
  color: #3db3d5;
  margin: 10px 0 0 0; }
  .callout-form__item__anchor:hover {
    color: black; }

.section__header-form-img {
  width: 100%;
  height: auto; }

.section__title-form {
  font-size: 36px;
  padding-bottom: 20px;
  color: #032a36;
  margin-left: 30px; }


.btn-help {
  display: none; }

.column__container .pma__title {
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #032a36; }

.column__container .pma__sub {
  padding-bottom: 50px;
  font-size: 16px;
  font-family: arial;
  color: #444444; }

.column__container .pma__m-box {
  font-size: 18px;
  color: #444444;
  display: inline-block;
  float: left;
  width: 49.7%;
  font-family: arial; }
  .column__container .pma__m-box:nth-child(even) {
    padding-right: 20px; }
  .column__container .pma__m-box:nth-child(odd) {
    padding-left: 0px; }
  .column__container .pma__m-box .pma__lable {
    padding-bottom: 10px;
    font-weight: bold;}
  .column__container .pma__m-box select {
    font-size: 18px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    display: inline-block;
    font-family: arial;
    padding: 8.5px 10px;
    width: 100%;
    outline: none;
    color: #8f8f8f;
    border: 1px solid #1291b5;
    border-radius: 4px;
    border: none;
    background: white url("../assets/images/global/down-arrow.png") no-repeat 60px center;
    background-position: calc(100% - 10px) 50%;
    border: 1px solid #1291b5; }
    .column__container .pma__m-box select::-ms-expand {
      display: none; }
    .column__container .pma__m-box select:before {
      display: none; }

.column__container .pma__box , .pma__box input{
  font-size: 18px;
  color: #444444;
  width: 100%;
  padding-bottom: 10px;
  vertical-align: top;
  font-family: arial;
 }
  .column__container .pma__box .pma__lable {
    padding-bottom: 10px;
    padding-top: 10px; 
    display: inline-block;
   font-weight: bold; }

.column__container .pma__m-box {
  font-family: arial;
  position: relative;
  padding: 10px 0 10px 0;
   }
  .column__container .pma__m-box input ,.pma__box input{
    width: 100%;
    height: 40px;
    border: 1px solid #1291b5;
    border-radius: 4px;
    position: relative;
    top: 0;
    left: 0; }

.column__container .pma__s-box {
  color: #444444;
  width: 24%;
  font-size: 16px;
  display: inline-block;
  padding: 0 10px;
  font-family: arial;
  font-weight: bold; }
  .column__container .pma__s-box:first-child {
    padding-left: 0; }
  .column__container .pma__s-box:last-child {
    padding-right: 0; }
  .column__container .pma__s-box .pma__lable {
    padding-top: 10px; }
  .column__container .pma__s-box .pma__select {
    margin-top: 10px; }
    .column__container .pma__s-box .pma__select select {
      text-indent: 40%;
      font-size: 18px;
      font-family: arial;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      overflow: hidden;
      display: inline-block;
      padding: 8.5px 10px;
      width: 100%;
      outline: none;
      color: #444444;
      border: 1px solid #1291b5;
      border-radius: 4px;
      border: none;
      background: white url("../assets/images/global/down-arrow.png") no-repeat 60px center;
      background-position: calc(100% - 10px) 50%;
      border: 1px solid #1291b5; }
      .column__container .pma__s-box .pma__select select:before {
        display: none; }
      .column__container .pma__s-box .pma__select select::-ms-expand {
        display: none; }

.column__container .pma__lable-l {
  border-radius: 4px; }
  .column__container .pma__lable-l input {
    width: 100%;
    font-size: 24px;
    padding: 20px;
    background: #1291b5;
    border-radius: 3px;
    margin-top: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: white;
    border: 1px solid #1291b5; }
    .column__container .pma__lable-l input:active {
      background: white;
      color: #444444; }

.hero_container {
  border-radius: 5px; }
  .hero_container .hero_label {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0c7e9f', endColorstr='#16677e');
    background: linear-gradient(#0c7e9f, #16677e); }
    .hero_container .hero_label:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .hero_container .hero_label:last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
  .hero_container .mini_form- {
    background: #12a3cd;
    padding: 20px; }
  .hero_container .large_form-container {
    background: #12a3cd;
    padding: 15px 20px; }
    .hero_container .large_form-container .form_listing {
      display: inline-block;
      font-size: 12px;
      border: 1px solid #1b5c6f;
      width: calc(50% - 5px);
      line-height: 40px;
      text-align: center;
      overflow: hidden;
      margin: 10px;
      cursor: pointer;
      




    }
      .hero_container .large_form-container .form_listing:nth-child(odd) {
        margin-left: 0; }
      .hero_container .large_form-container .form_listing:nth-child(even) {
        margin-right: 0;
        margin-left: 0; }
    .hero_container .large_form-container a {
      color: white; 
      display: inline-block;
      vertical-align: middle;
      line-height: normal;  
    }

.mini_form_btn {
  clear: both;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  padding: 15px 0;
  margin-top: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .mini_form_btn a {
    color: white; }
  .mini_form_btn:hover {
    opacity: 0.6; }

.highlight {
  background: white; }

.hero_container .large_form-container .highlight a {
  color: black; }

@media (max-width: 937px) {
  .mini_form {
    display: block;
    width: 100%; } }

@media (max-width: 640px) {
  .menu-icon .nav-toggle {
    display: block; }
  .menu-icon {
    height: 50px;
    width: 50px;
    display: inline-block; }
    .menu-icon:hover {
      opacity: 0.6; }
  .section__appform {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .section__column {
    float: none;
    width: 100%; }
    .section__column:last-child {
      float: none;
      width: 100%; }
  .section__header-form-img {
    padding-top: 10px;
    width: 100%; }
  .section__title-form {
    font-size: 16px;
    width: 100%;
    text-align: center; }
  .column__container .pma__m-box, .section__form__container .pma__box .pma__lable {
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 0; }
  .column__container .pma__s-box {
    width: 100%;
    text-align: left;
    padding: 10px 0; }
  .section__title-form {
    font-size: 24px; }
  .column__container .pma__m-box:nth-child(odd), .column__container .pma__m-box:nth-child(even) {
    padding: 0; }
  .hero_container .large_form-container .form_listing {
    padding-top: 10px; }
  .hero_container {
    display: none; } }

.openicon {
  position: absolute;
  top: 230px;
  left: 50%;
  outline: none;
  border: none; }
  .openicon img {
    height: 35px;
    width: 35px;
    outline: none;
    border: none; }

    .feature-callout-text{
      font-size: 18px;
      padding-top: 20px;}
      .feature-callout-text a{
        text-decoration: underline;
        color: white;}
        .feature-callout-text a:hover{
          opacity: 0.7;
        }

.feature-callout_img {
  background: no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  display: block;
  outline: none; }

.feature-callout-renters__banner {
  height: 586px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  position: relative; }

.master__center {
  text-align: center;
  margin-top: 20px; }

.menu {
  font-size: 30px;
  display: none;
  color: black;
  position: relative;
  bottom: 5px; }

.container_div_bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

.pricing__container {
  float: right;
  margin-right: 13%; }

.banner__pricing {
  display: inline-block;
  padding: 10px 15px;
  padding-bottom: 0;
  font-size: 18px;
  color: black;
  background: white;
  border: 1px solid #000;
  border-bottom: none;
  font-weight: bold; }
  .banner__pricing:last-child {
    border-left: none; }
  .banner__pricing .span-perweek {
    font-size: 12px; }

.banner__container {
  clear: both;
  background: rgba(8, 46, 57, 0.9);
  color: white;
  height: auto;
  z-index: 1;
  width: 100%; }
  .banner__container .banner__contant-title {
    font-size: 36px;
    padding-top: 30px;
    display: block;
    font-weight: bold; }

.banner__contant-address {
  font-size: 18px; }

.banner__contant {
  font-size: 14px;
  padding-bottom: 30px;
  display: inline-block; }
  .banner__contant .banner__contant-list {
    display: inline;
    padding: 0 20px 0 0; }
    .banner__contant .banner__contant-list .banner__svg {
      display: inline-block;
      fill: white;
      height: 25px;
      position: relative;
      top: 5px; }
    .banner__contant .banner__contant-list svg {
      height: 25px;
      width: 25px; }
    .banner__contant .banner__contant-list .banner__label {
      padding-left: 10px; }

.mini_form-container {
  height: auto;
  background: #12a3cd;
  padding: 20px;
  border-radius: 3px; }

.mini_form {
  padding: 0 5px;
  vertical-align: top;
  width: 32%;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px; }
  .mini_form:first-child {
    padding-left: 0; 
    float: left;}
  .mini_form:nth-child(3) {
    padding-right: 0; }

.mini_form__label {
  font-size: 10px;
  color: white;
  display: block;
  padding-bottom: 10px;
  line-height: 0.75em;
  text-transform: uppercase; }

.mini_form__input {
  height: 40px;
  text-align: center;
  width: 100%;
  border: 1px solid #1291b5;
  border-radius: 4px;
  color: #4f5050; }

.select-number select {
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  overflow: hidden;
  display: inline-block;
  padding: 13px 10px 14px;
  -moz-padding: 13px 10px 9px;
  width: 100%;
  outline: none;
  color: #4f5050;
  border: 1px solid #1291b5;
  border-radius: 4px;
  border: none;
  background: white url("../assets/images/global/down-arrow.png") no-repeat 60px center;
  background-position: calc(100% - 10px) 50%;
  text-indent: 1px;
  text-overflow: ''; }
  .ie9 .select-number select {
    display: none; }
  .select-number select::-ms-expand {
    display: none; }

@-moz-document url-prefix() {
  .select-number select {
    padding-bottom: 9px; } }

.mini_form_btn {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
  margin-top: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .mini_form_btn a {
    color: white; }
  .mini_form_btn:hover {
    opacity: 0.6; }

.amenities__title_DT {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  display: block; }
  .amenities__title_DT a {
    color: #4f5050; }

.amenities__title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  display: none; }
  .amenities__title a {
    color: #4f5050; }

.amenities__container {
  border: 1px solid #e5e5e5;
  padding: 20px;
  color: #4f5050; }
  .amenities__container .amenities__list {
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 10px; }

.column__container {
  background: white;
  border: 1px solid #e5e5e5;
  padding: 30px;
  margin-left: 30px; }
  .column__container .paragraph__title-container {
    font-size: 26px;
    color: #4f5050;
    padding-bottom: 10px;
    line-height: 0.75em; }
  .column__container p {
    font-size: 16px;
    color: #444444; }
  .column__container .paragraph__title {
    font-size: 15px;
    color: #444444;
    padding-bottom: 5px; }

.crossedout {
  text-decoration: line-through;
  color: #bec2c3; }

.ui-datepicker .ui-datepicker-title {
  color: white; }

.ui-datepicker .ui-datepicker-header {
  color: white;
  background: #12a3cd; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: lightgray; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none; }

.ui-datepicker .ui-datepicker-prev span {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white; }

.ui-datepicker .ui-datepicker-next span {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  margin-left: -5px;
  margin-top: -5px; }

.guest {
  padding-right: 0;
  width: 24.5%; }

.hero {
  display: none; }

.hero-z {
  display: block; }

@media screen and (max-width: 937px) {
  .mini_form {
    line-height: 1;
    width: 50%;
    padding-right: 5px; }
    .mini_form:nth-child(2) {
      padding-left: 5px;
      padding-right: 0; }
    .mini_form:nth-child(3) {
      width: 100%; }
  .guest {
    padding-top: 20px;
    display: block; } }

@media screen and (max-width: 640px) {
  .section {
    padding: 30px 0; }
  .column__container {
    margin-top: 15px;
    margin-left: 0; }
  .guest {
    margin-bottom: 0; }
  .amenities__list {
    font-size: 20px; }
  .menu {
    display: inline-block; }
  .banner__container .banner__contant-title {
    font-size: 25px;
    text-align: center;
    padding-top: 15px; }
  .banner__contant-address {
    font-size: 16px;
    text-align: center; }
  .banner__contant {
    text-align: center;
    display: block;
    padding-bottom: 0; }
  .banner__contant .banner__contant-list {
    padding: 15px 15px 15px 0;
    display: inline-block;
    text-align: center; }
  .banner__contant .banner__contant-list .banner__label {
    padding: 0;
    padding-top: 10px;
    display: block; }
  .banner__contant .banner__contant-list .banner__label::before {
    display: table; }
  .mini_form {
    line-height: 1;
    width: 33.3%;
    padding-right: 5px; }
    .mini_form:nth-child(2) {
      padding: 0 5px; }
    .mini_form:nth-child(3) {
      width: 30%; }
  .guest {
    padding-top: 0; }
  .amenities__title {
    display: block; }
  .amenities__title_DT {
    display: none; } }

@media screen and (max-width: 768px) {
  .hero_container .hero_label {
    padding: 10px; } }

.nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  display: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: ''; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  transform: rotate(-45deg); }

.booking-img {
  width: 100%;
  padding-bottom: 30px;
  outline: none; }

.booking-items {
  width: auto;}

  .booking-items .callout-list{
    margin-right: 0;
  }

.column__title {
  font-size: 36px;
  padding-bottom: 10px;
  margin-left: 0; }

div .container .callout-list{
    margin-left: -10px;
    margin-right: -10px;
  }

.callout-list__item-list__price {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: rgba(61, 179, 213, 0.8);
    padding: 10px;
    font-size: 24px;
    text-align: center; }

.callout-list__item-list {
    list-style-type: none;
    width: calc(50% - 12px);
    vertical-align: top;
    display: inline-block;
    position: relative; }
  .callout-list__item-list:nth-child(even) {
    margin-left: 20px; }

.callout-list__item-list img {
  width: 100%; 
  height: 192px;
  object-fit: cover;}

.callout__list-item_name {
  font-size: 14px;
  font-weight: bold;
  color: #1a7c98;
  padding-top: 10px;
  color: #3db3d5;
  display: block; }

.callout__list-item_discription {
  font-size: 12px;
  color: #3db3d5;
  display: block;
  padding-top: 5px;
  padding-bottom: 10px; }

.callout__list-item_name, .callout__list-item_discription {
  padding-left: 10px; }

.current__pages {
  float: left;
  position: relative;
  top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bolder; }

.pages {
  margin: 20px 0px 20px 0;
  height: 30px; 
  clear: both;}

  .booklisting-wholecontainer{
    margin-left: 55px;
  }

/*.navbar__pages .wp-pagenavi ,.pages .current{
  visibility: hidden;
}

.navbar__pages .pages .current{
  visibility: visible;
}*/

.screen-reader-text{
  display: none;
}
  
.navbar__pages {
  float: right;
  position: relative;
  top: 10px; }


.navbar__pages .page-numbers{
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #3db3d5;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background: #fff;
  position: relative; }

  .navbar__pages .page-numbers:last-child{
    margin-right: 0;
  }


@media screen and (max-width: 640px) {
  .callout-list__item-list {
    display: block;
    width: 100%;
    text-align: center;
    left: 0px; }
    .callout-list__item-list:nth-child(even) {
      margin-left: 0; }
  .column__title {
    margin-left: 0; }
  .booking-items {
    margin: 0; }
  .pages {
    margin-left: 0; }
  .current__pages {
    margin-left: 0px; }
  .callout-list__item-list__price {
    left: calc(95% - 85px); } }


    @media screen and (max-width: 415px) {

      .navbar__pages,.current__pages{
        float: none;
        position: inherit;
      }
      .pages{
        height: inherit;
      }

    }
