/*
Theme Name: The Vacation Rental
Theme URI: http://redfactory.nl/themes/thevacationrental/
Author: Red Factory
Author URI: http://redfactory.nl
Description: A perfect theme if you want to rent out one or more apartment. A great companion to an AirBnb listing!
Version: 2.3
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
.tvr_shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.tvr_textshadow {
  text-shadow: 0px 1px 0px white;
}
.container {
  padding-left: 22px;
  padding-right: 22px;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 0px;
  margin: 0 auto;
}
.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.row .onecol {
  width: 4.85%;
}
.row .twocol {
  width: 13.45%;
}
.row .threecol {
  width: 22.05%;
}
.row .fourcol {
  width: 30.75%;
}
.row .fivecol {
  width: 39.45%;
}
.row .sixcol {
  width: 48%;
}
.row .sevencol {
  width: 56.75%;
}
.row .eightcol {
  width: 65.4%;
}
.row .ninecol {
  width: 74.05%;
}
.row .tencol {
  width: 82.7%;
}
.row .elevencol {
  width: 91.35%;
}
.row .twelvecol {
  width: 100%;
  float: left;
}
.last {
  margin-right: 0px;
}
img,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
}
/* Smaller screens */
@media only screen and (max-width: 979px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 821px) {
  #blueprint-sidebar {
    display: none;
  }
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  .row,
  body,
  .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row .onecol,
  .row .twocol,
  .row .threecol,
  .row .fourcol,
  .row .fivecol,
  .row .sixcol,
  .row .sevencol,
  .row .eightcol,
  .row .ninecol,
  .row .tencol,
  .row .elevencol,
  .row .twelvecol {
    width: auto;
    float: none;
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media handheld, only screen and (max-width: 512px) {
  
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
.imageslider {
  position: relative;
  zoom: 1;
}
.imageslider ul.slides {
  margin: 0px !important;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.imageslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(img/flexslider/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
.flex-direction-nav .flex-prev {
  left: -36px;
}
.imageslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
.imageslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
.imageslider:hover .flex-next:hover,
.imageslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  margin-left: 0px !important;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/*

Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/
/* Global Declaration */
.tvr_shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.tvr_textshadow {
  text-shadow: 0px 1px 0px white;
}
input:disabled,
textarea:disabled {
  background: #f1f1f1;
}
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background-image: url(img/uniform/thevacationrental/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}
/* INPUT & TEXTAREA */
input.text,
input.email,
input.password,
textarea.uniform {
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  color: #777;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  border-color: #bbb;
}
/* SPRITES */
/* Select */
div.selector {
  background-position: -482px -178px;
  line-height: 36px;
  height: 36px;
}
div.selector span {
  background-position: right 0px;
  height: 36px;
  line-height: 36px;
}
div.selector select {
  /* change these to adjust positioning of select element */

  top: 0px;
  left: 0px;
}
div.selector:active,
div.selector.active {
  background-position: -482px -214px;
}
div.selector:active span,
div.selector.active span {
  background-position: right -36px;
}
div.selector.focus,
div.selector.hover,
div.selector:hover {
  background-position: -482px -250px;
}
div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
  background-position: right -72px;
}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -482px -285px;
}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -107px;
}
div.selector.disabled {
  background-position: -482px -320px;
}
div.selector.disabled span {
  background-position: right -142px;
}
/* Checkbox */
div.checker {
  width: 19px;
  height: 19px;
}
div.checker input {
  width: 19px;
  height: 19px;
}
div.checker span {
  background-position: 0px -356px;
  height: 19px;
  width: 19px;
}
div.checker:active span,
div.checker.active span {
  background-position: -19px -356px;
}
div.checker.focus span,
div.checker:hover span {
  background-position: -38px -356px;
}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -356px;
}
div.checker span.checked {
  background-position: -76px -356px;
}
div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -95px -356px;
}
div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -356px;
}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -356px;
}
div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -356px;
}
div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -356px;
}
/* Radio */
div.radio {
  width: 18px;
  height: 18px;
}
div.radio input {
  width: 18px;
  height: 18px;
}
div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -375px;
}
div.radio:active span,
div.radio.active span {
  background-position: -18px -375px;
}
div.radio.focus span,
div.radio:hover span {
  background-position: -36px -375px;
}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -375px;
}
div.radio span.checked {
  background-position: -72px -375px;
}
div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -375px;
}
div.radio.focus span.checked,
div.radio:hover span.checked {
  background-position: -108px -375px;
}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -375px;
}
div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -375px;
}
div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -375px;
}
/* Uploader */
div.uploader {
  background-position: 0px -297px;
  height: 28px;
}
div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}
div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */

  margin: 2px 0px 2px 2px;
  line-height: 24px;
}
div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}
div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}
div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}
div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}
div.uploader.disabled {
  background-position: 0px -325px;
}
div.uploader.disabled span.action {
  background-position: right -381px;
}
div.button {
  background-position: 0px -523px;
}
div.button span {
  background-position: right -643px;
}
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px;
}
div.button.active,
div.button:active {
  background-position: 0px -583px;
}
div.button.active span,
div.button:active span {
  background-position: right -703px;
  color: #555;
}
div.button.disabled,
div.button:disabled {
  background-position: 0px -613px;
}
div.button.disabled span,
div.button:disabled span {
  background-position: right -733px;
  color: #bbb;
  cursor: default;
}
/* PRESENTATION */
/* Button */
div.button {
  height: 30px;
}
div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}
/* Select */
div.selector {
  width: 190px;
  font-size: 12px;
}
div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid 1px #fff;
}
div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}
div.selector span {
  color: #666;
  width: 158px;
  text-shadow: 0 1px 0 #fff;
}
div.selector.disabled span {
  color: #bbb;
}
/* Checker */
div.checker {
  margin-right: 5px;
}
/* Radio */
div.radio {
  margin-right: 3px;
}
/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}
div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}
div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}
div.uploader input {
  width: 190px;
}
div.uploader.disabled span.action {
  color: #aaa;
}
div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}
/* Button */
div.button a,
div.button button,
div.button input {
  position: absolute;
}
div.button {
  cursor: pointer;
  position: relative;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}
/* Select */
div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}
div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  height: 25px;
  border: none;
  background: none;
}
/* Checker */
div.checker {
  position: relative;
}
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}
/* Radio */
div.radio {
  position: relative;
}
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}
/* Uploader */
div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}
div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: default;
}
html {
  color: #000;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
/***********************************************/
/*               Common Elements               */
/***********************************************/
/*
	Notices are used mainly for "no items" type displays, like
	'no posts here', or 'no search results' texts. They consist of
	a large title and a message underneath.
*/
.notice {
  text-align: Center;
  padding: 0 0 22px 0;
}
.notice h1 {
  font-size: 1.714em;
  margin: 0 0 11px 0;
}
.notice h2 {
  line-height: 1.6em;
}
#ui-datepicker-div {
  display: none;
}
.blueprint {
  padding: 0 0 22px 0;
}
.clear {
  clear: both;
}
.widget-area {
  overflow: hidden;
  zoom: 1;
}
.navigation > div > ul {
  white-space: collapse;
}
.navigation > div > ul > li {
  display: inline-block;
}
.navigation > div > ul > li:hover > ul {
  display: block;
}
.navigation > div > ul > li > ul {
  display: none;
  line-height: 19px;
  position: absolute;
  z-index: 3000;
  padding: 11px 22px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.navigation > div > ul > li > ul ul {
  padding-top: 6px;
  margin-left: 11px;
}
.navigation > div > ul > li > ul li {
  padding: 6px 0;
}
.navigation > div > ul > li > ul li:last-child {
  padding-bottom: 0px;
}
.section {
  margin: 0 0 44px 0 ;
}
.map_canvas {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.box,
.inner-box {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 22px;
  position: Relative;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 0 0 44px 0;
}
.box .box,
.inner-box .box {
  padding: 0px;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  -khtml-box-shadow: 0 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 0 #ffffff;
  -ms-box-shadow: 0 0 0 0 #ffffff;
  -o-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
}
.box.smallpadding,
.inner-box.smallpadding {
  padding: 11px;
}
.box.nopadding,
.inner-box.nopadding {
  padding: 0px;
}
.box.nomargin,
.inner-box.nomargin {
  margin: 0px;
}
.box.binded.top,
.inner-box.binded.top {
  margin: 0 0 22px 0;
}
.box.binded.bottom,
.inner-box.binded.bottom {
  z-index: 50;
}
.box.binded.bottom.has-binder,
.inner-box.binded.bottom.has-binder {
  z-index: 100;
}
.binder-left, .binder-right {
  display: none !important;
}
.box.binded.bottom.has-binder .binder-left,
.inner-box.binded.bottom.has-binder .binder-left,
.box.binded.bottom.has-binder .binder-right,
.inner-box.binded.bottom.has-binder .binder-right {
  position: absolute;
  background: url('img/binder-v.png');
  display: block;
  width: 5px;
  height: 39px;
  top: -31px;
}
.box.binded.bottom.has-binder .binder-right,
.inner-box.binded.bottom.has-binder .binder-right {
  right: 11px;
}
.box.binded.bottom.has-binder .binder-left,
.inner-box.binded.bottom.has-binder .binder-left {
  left: 11px;
}
.box.binded.top,
.inner-box.binded.top {
  z-index: 50;
}
.box.binded.top.has-binder,
.inner-box.binded.top.has-binder {
  z-index: 100;
}
.box.binded.top.has-binder .binder-left,
.inner-box.binded.top.has-binder .binder-left,
.box.binded.top.has-binder .binder-right,
.inner-box.binded.top.has-binder .binder-right {
  position: absolute;
  background: url('img/binder-v.png');
  display: block;
  width: 5px;
  height: 39px;
  bottom: -31px;
}
.box.binded.top.has-binder .binder-right,
.inner-box.binded.top.has-binder .binder-right {
  right: 11px;
}
.box.binded.top.has-binder .binder-left,
.inner-box.binded.top.has-binder .binder-left {
  left: 11px;
}
.box.binded.left,
.inner-box.binded.left {
  z-index: 50;
}
.box.binded.left.has-binder,
.inner-box.binded.left.has-binder {
  z-index: 100;
}
.box.binded.left.has-binder .binder-top,
.inner-box.binded.left.has-binder .binder-top,
.box.binded.left.has-binder .binder-bottom,
.inner-box.binded.left.has-binder .binder-bottom {
  position: absolute;
  background: url('img/binder-h.png');
  display: block;
  width: 39px;
  height: 5px;
  right: -31px;
}
.box.binded.left.has-binder .binder-top,
.inner-box.binded.left.has-binder .binder-top {
  top: 11px;
}
.box.binded.left.has-binder .binder-bottom,
.inner-box.binded.left.has-binder .binder-bottom {
  bottom: 11px;
}
.box.binded.right,
.inner-box.binded.right {
  z-index: 50;
}
.box.binded.right.has-binder,
.inner-box.binded.right.has-binder {
  z-index: 100;
}
.box.binded.right.has-binder .binder-top,
.inner-box.binded.right.has-binder .binder-top,
.box.binded.right.has-binder .binder-bottom,
.inner-box.binded.right.has-binder .binder-bottom {
  position: absolute;
  background: url('img/binder-h.png');
  display: block;
  width: 39px;
  height: 5px;
  left: -31px;
}
.box.binded.right.has-binder .binder-top,
.inner-box.binded.right.has-binder .binder-top {
  top: 11px;
}
.box.binded.right.has-binder .binder-bottom,
.inner-box.binded.right.has-binder .binder-bottom {
  bottom: 11px;
}
.image-container {
  text-align: center;
  display: inline-block;
  position: relative;
}
.image {
  position: Relative;
  display: inline-block;
  vertical-align: bottom;
}
.image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.image .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  -khtml-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  -ms-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  -o-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25) inset;
  z-index: 1000;
  top: 0px;
}
.site-content {
  line-height: 1.6em;
}
.read-more-arrow {
  width: 6px;
  height: 10px;
  display: inline-block;
  background: url('img/read_more_arrow.png');
  margin: 0 0 0 11px;
}
.imagelink {
  display: block;
}
.hoverlink {
  background-repeat: no-repeat;
  background-position: center center;
}
.posts-container {
  overflow: hidden;
  zoom: 1;
}
.posts-navigation {
  overflow: hidden;
  zoom: 1;
  margin: 0 0 44px 0;
  text-align: center;
}
.posts-navigation .previous-posts {
  float: left;
}
.posts-navigation .next-posts {
  float: right;
}
.posts-navigation a,
.posts-navigation span {
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 4px 11px;
  color: #555555 !important;
  text-decoration: none;
}
.posts-navigation a:hover {
  background: #fafafa;
}
.posts-navigation span {
  background: 0px;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.shadow-full {
  height: 11px;
  background: url('img/shadow-full.png') no-repeat 50% 50%;
}
.outer-shadow {
  position: absolute;
  bottom: -4px;
  height: 4px;
  left: 0px;
  width: 100%;
}
.outer-shadow .left {
  height: 4px;
  width: 50%;
  float: left;
  background: url('img/shadow-left.png') no-repeat left top;
}
.outer-shadow .right {
  height: 4px;
  width: 50%;
  float: right;
  background: url('img/shadow-right.png') no-repeat right top;
  position: relative;
}
.read-more {
  text-decoration: none;
  font-family: georgia;
  font-style: italic;
}
.full-loader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff url('img/loader-large.gif') no-repeat center center;
  filter: alpha(opacity = 80 );
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 1200;
}
.loader {
  background: url('img/loader-large.gif') no-repeat center center;
  padding: 100px 0;
}
/***********************************************/
/*                   Widgets                   */
/***********************************************/
.button {
  padding: 4px 11px;
  font-size: 12px;
  text-decoration: none;
}
.button:hover {
  filter: alpha(opacity = 90 );
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.button input {
  border: 0px;
  outline: 0px;
  padding: 5px !important;
  margin: 0px;
  background: none;
  font-size: 14px;
}
.button-container.destroyed,
.button-container.destroyed .button {
  background: none !important;
  border-color: transparent !important;
  outline-color: transparent !important;
  -webkit-box-shadow: none !important;
  -khtml-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  color: inherit !important;
  text-shadow: inherit !important;
}
.navigation-select {
  display: none;
}
.navigation-select select,
.navigation-select .selector select {
  background: #fff;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  -khtml-box-shadow: 0 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 0 #ffffff;
  -ms-box-shadow: 0 0 0 0 #ffffff;
  -o-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
  border: 0px;
}
/***********************************************/
/*                  Shortcodes                 */
/***********************************************/
.columns {
  margin: 0 0 22px 0;
}
.linelink a {
  float: right;
  margin: 0 0 0 11px;
  display: block;
  position: Relative;
}
.linelink .line {
  overflow: hidden;
}
.linelink.left a {
  float: left;
  margin: 0 11px 0 0;
}
.button-container {
  display: inline-block;
}
.button-container .button {
  display: inline-block;
}
.button-container br {
  display: none;
}
.message-container {
  display: block;
  text-shadow: none !important;
}
.message-container .message {
  display: block;
}
.message-container .message p:last-child {
  margin: 0px;
}
.message-container .message a {
  color: inherit;
}
.featured-image {
  text-align: center;
}
.title-box {
  text-align: left;
}
.title-box .binder-left,
.title-box .binder-right {
  position: absolute;
  background: url('img/binder-v.png');
  display: block;
  width: 5px;
  height: 39px;
  top: 12px;
}
.title-box .binder-left {
  left: 11px;
}
.title-box .binder-right {
  right: 11px;
}
.title-box .box {
  padding: 0;
  display: inline-block;
  color: #fff;
  background: none;
  border: none;
}
.title-box h1 {
  font-size: 1.429em !important;
  font-weight: 700 !important;
  line-height: 1.3em !important;
  margin: 0px !important;
}
.box .title-box .box {
}
@media (max-width: 512px) {
  .title-box .box {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
    min-width: 0px;
  }
}
.toggle .toggle-content {
  display: none;
}
.toggle .toggle-title {
  background-image: url('img/toggle-down.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 0 0 22px;
  cursor: pointer;
}
.toggle.open .toggle-content {
  display: block;
}
.toggle.open .toggle-title {
  background-image: url('img/toggle-up.png');
}
.toggle.closed .toggle-content {
  display: none;
}
.map_canvas img {
  background: transparent !important;
}
.section .map_canvas {
  border: 11px solid #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.message {
  padding: 11px;
}
.linelink a {
  top: -12px;
  font-size: 12px;
  text-decoration: none;
}
.tabs {
  margin: 0 0 22px 0;
}
.tabs nav ul {
  margin: 0px;
  padding-left: 0px !important;
}
.tabs nav ul li {
  -webkit-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ie-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 6px;
}
.tabs .tab {
  display: none;
}
.tabs .tab:first-child {
  display: block;
}
.tabs .tab-container {
  -webkit-border-radius: 0 3px 3px 3px;
  -khtml-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ie-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}
.section .tabs nav li {
  padding: 11px 22px;
  background: #E5E3E0;
  margin: 0 0 0 11px;
}
.section .tabs nav li:first-child {
  margin: 0px;
}
.section .tabs nav li:hover {
  background: #eeece9;
}
.section .tabs nav li.current {
  background: #fbfbfb;
  z-index: 120;
}
.section .tabs .tab-container {
  position: Relative;
  z-index: 100;
  background: #fff;
  padding: 22px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.box .tabs nav li {
  padding: 11px 22px;
  background: #E5E3E0;
  margin: 0 0 0 11px;
}
.box .tabs nav li:first-child {
  margin: 0px;
}
.box .tabs nav li:hover {
  background: #eeece9;
}
.box .tabs nav li.current {
  background: #f6f6f6;
  z-index: 120;
}
.box .tabs .tab-container {
  position: Relative;
  z-index: 100;
  background: #fafafa;
  padding: 22px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.imageslider {
  padding: 0 0 11px 0;
}
.imageslider .flex-viewport {
  height: 100%;
}
.imageslider .flex-control-nav {
  bottom: -48px;
  margin-left: 0px !important;
}
.imageslider li {
  position: relative;
}
.imageslider ul {
  margin: 0px !important;
  padding: 0px !important;
}
.imageslider .title {
  position: absolute;
  bottom: 22px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: none;
  padding: 11px 0;
}
.imageslider .title h1 {
  padding: 0 11px;
  margin: 0px;
  font-size: 1.143em;
  line-height: 1.4em;
}
/***********************************************/
/*               Content Styles                */
/***********************************************/
.content {
  line-height: 1.6em;
  text-shadow: 0px 1px 0px white;
  overflow: hidden;
  zoom: 1;
}
.content p {
  margin: 0 0 22px 0;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  line-hieght: 1.4em;
}
.content h1 {
  font-size: 1.857em;
  margin: 0 0 22px 0;
}
.content h2 {
  font-size: 1.571em;
  margin: 0 0 22px 0;
}
.content h3 {
  font-size: 1.285em;
  margin: 0 0 22px 0;
}
.content h4 {
  font-size: 1.143em;
  margin: 0 0 22px 0;
}
.content h5 {
  font-size: 1em;
  margin: 0 0 11px 0;
}
.content h6 {
  font-size: 0.857em;
  margin: 0 0 11px 0;
}
.content abbr,
.content acronym {
  cursor: help;
  border-bottom: 1px dotted #555555;
}
.content strong {
  font-weight: 700;
}
.content em {
  font-style: italic;
}
.content table {
  width: 100%;
  font-size: 0.857em;
  margin: 0 0 22px 0;
}
.content table th {
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 0px #bbb;
}
.content table th,
.content table td {
  padding: 6px 11px;
}
.content table tr:nth-of-type(odd) td {
  background: rgba(200, 200, 200, 0.1);
}
.content small {
  font-size: 0.857em;
}
.content > :last-child {
  margin-bottom: 0px;
}
.content blockquote {
  margin: 0 66px 22px 66px;
  font-style: italic;
  text-align: center;
}
.content ul li {
  list-style-type: square;
}
.content ol li {
  list-style-type: decimal;
}
.content ul,
.content ol {
  overflow: hidden;
  margin: 0 0 22px 0;
  padding-left: 22px;
}
.content ul li,
.content ol li {
  list-style-position: outside;
  padding-left: 0;
}
.content ul ul,
.content ol ul,
.content ul ol,
.content ol ol {
  margin: 0 0 0 44px;
}
.content dl {
  margin: 0 0 22px 0;
}
.content dl dt {
  font-weight: 700;
}
.content dl dd {
  margin: 0 0 0 22px;
}
.content pre {
  margin: 0 0 22px 0;
}
.content .caption {
  margin: 0px;
}
.content .caption .wp-caption {
  display: inline-block;
  height: auto;
}
.content .caption .wp-caption .wp-caption-text {
  text-align: Center;
  font-style: italic;
  font-size: 0.857em;
  margin-top: 4px;
  margin-bottom: 0px;
}
.content .alignleft {
  float: left;
  margin-right: 22px;
}
.content .alignright {
  float: right;
  margin-left: 22px;
}
.content .alignnone,
.content .aligncenter {
  display: block;
  margin: 0 auto 22px auto;
  vertical-align: bottom;
}
.section .content .image-container {
  padding: 11px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.section .content .image-container .image {
  position: relative;
}
.section .content .image-container .image img {
  width: 100%;
  margin: 0px;
  background: #fff;
}
.section .content .image-container.aligncenter,
.section .content .image-container.alignnone {
  padding: 0px;
  background: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.section .content .image-container.aligncenter .image,
.section .content .image-container.alignnone .image {
  border: 11px #fff solid;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.box .content .image-container .image {
  position: relative;
}
.box .content .image-container .image img {
  width: 100%;
  margin: 0px;
}
.box .content .image-container.aligncenter,
.box .content .image-container.alignnone {
  padding: 0px;
}
.box .content .image-container.aligncenter .image,
.box .content .image-container.alignnone .image {
  display: inline-block;
}
/***********************************************/
/*               Site Header                   */
/***********************************************/
#site-header {
  height: 86px;
  background: #fbfbfb;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#cbcbcb',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #cbcbcb));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #cbcbcb 100%);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #cbcbcb 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #cbcbcb 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #cbcbcb 100%);
  background: linear-gradient(top, #fbfbfb 0%, #cbcbcb 100%);
  line-height: 43px;
}
#site-header .twelvecol {
  position: relative;
}
#site-header .site-logo {
  height: 43px;
  display: block;
  float: left;
  margin-right: 44px;
  z-index: 3100;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
#site-header .site-logo h1 {
  font-weight: bold;
}
#site-header .site-logo a {
  text-decoration: none;
}
#site-header .site-logo img {
  vertical-align: middle;
}
#site-header .navigation {
  position: relative;
  margin-right: 234px;
  font-size: 12px;
  text-align: center;
  z-index: 3000;
}
#site-header .navigation-menu {
  margin-right: 0;
  text-align: right;
  font-size: 16px;
}
#site-header .navigation a {
  text-decoration: none;
}
#site-header .navigation > div > ul {
  z-index: 1000;
}
#site-header .navigation > div > ul > li {
  background-repeat: no-repeat;
  background-position: left top;
  text-align: left;
}
#site-header .navigation > div > ul > li:first-child {
  background: none;
}
#site-header .navigation > div > ul > li > a {
  padding: 0 22px;
}
#site-header .share {
  position: absolute;
  right: 0px;
  top: 0px;
}
#site-header .share .share-service {
  display: inline-block;
}
#site-header .share .share-service.twitter {
  position: relative;
  top: 7px;
}
#site-header .share .share-service.facebook {
  position: relative;
  top: 4px;
  margin: 0 11px 0 0;
}
@media (max-width: 768px) {
  #site-header {
    height: auto !important;
  }
  #site-header .site-logo {
    float: none;
    text-align: center;
    margin: 0px;
  }
  #site-header .share {
    position: relative;
    text-align: center;
    position: Relative;
    left: 16px;
  }
  #site-header .navigation {
    margin: 0px;
  }
}
/***********************************************/
/*               Site Footer                   */
/***********************************************/
#footer-page {
  background: url(img/footer-border.png) repeat-x bottom left;
  padding-bottom: 44px;
  margin-bottom: 22px;
}
#site-footer .box {
  border: 0px;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#site-footer .box.widget {
  margin-bottom: 0px;
}
#site-footer .widget-area {
  margin: 22px 0 44px 0;
}
#site-footer .copyright {
  float: left;
}
#site-footer .navigation {
  overflow: hidden;
  text-align: right;
}
#site-footer .navigation li {
  display: inline-block;
  margin-left: 22px;
}
#site-footer .navigation li:first-child {
  margin: 0px;
}
#site-footer .navigation li a {
  display: inline-block;
  text-decoration: none;
}
#site-footer .content {
  text-shadow: none;
  padding: 22px 0 0 0;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  #site-footer {
    text-align: center;
  }
  #site-footer .copyright {
    float: none;
  }
  #site-footer .navigation {
    text-align: center;
    display: inline-block;
  }
}
/***********************************************/
/*              Site Continer                  */
/***********************************************/
#site-container {
  z-index: 2000;
  position: relative;
  padding-top: 22px;
}
#site-container .shadow-full {
  position: relative;
  top: -22px;
}
/***********************************************/
/*                   Widgets                   */
/***********************************************/
.widget-container {
  position: relative;
}
.widget {
  line-height: 22px;
  padding: 22px;
}
.widget p {
  margin: 0 0 22px 0;
}
.widget a {
  text-decoration: none;
}
.widget.scheme-content {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.widget .widget-title {
  margin: 0 0 22px 0;
}
.widget .widget-title .title-text {
  font-size: 1.286em;
}
.widget.scheme-footer {
  padding: 0px;
}
.widget.scheme-footer .widget-title .title-text {
  font-weight: 700;
}
.widget ul li {
  padding: 11px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.widget ul li:first-child {
  border-top-width: 0px;
}
.widget ul li ul li:first-child {
  border-top-width: 1px;
}
.widget ul ul {
  margin: 11px 0 -11px 22px;
}
.eb_widget_search form {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
  -khtml-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
}
.eb_widget_search form div {
  margin: 0 6px 0 0;
  padding: 0 33px 0 0;
}
.eb_widget_search form input.text {
  background: none;
  border: none;
  outline: none;
  padding: 11px 6px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  -khtml-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
}
.eb_widget_search form .submit {
  display: none;
}
.eb_widget_map .widget-content .content.below {
  margin-top: 22px;
}
.eb_widget_map .widget-content .content.below p:last-child {
  margin: 0px;
}
.eb_widget_contact .widget-content .contact-icon {
  display: inline-block;
  margin: 0 6px 0 0;
}
.eb_widget_contact .widget-content .social-buttons {
  margin: 22px 0 22px 0;
}
.eb_widget_contact .widget-content p {
  margin: 8px 0 0 0;
}
.eb_widget_contact .widget-content .social-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
}
.eb_widget_contact .widget-content .social-icon.icon-rss {
  background-image: url('img/round-rss.png');
}
.eb_widget_contact .widget-content .social-icon.icon-linkedin {
  background-image: url('img/round-linkedin.png');
}
.eb_widget_contact .widget-content .social-icon.icon-facebook {
  background-image: url('img/round-facebook.png');
}
.eb_widget_contact .widget-content .social-icon.icon-twitter {
  background-image: url('img/round-twitter.png');
}
.eb_widget_contact .widget-content .social-icon.icon-flickr {
  background-image: url('img/round-flickr.png');
}
.eb_widget_contact .widget-content .social-icon:hover {
  background-position: 0 -32px;
}
.tvr_widget_seasonal_pricing .season_price {
  float: right;
  width: 80px;
  text-align: right;
  font-size: 1.5em;
  font-weight: 700;
}
.tvr_widget_seasonal_pricing .season_details {
  margin-right: 102px;
}
.tvr_widget_seasonal_pricing .season_details .season_name {
  font-weight: 700;
}
.tvr_widget_seasonal_pricing .season_details .season_dates {
  font-size: 0.9em;
}
.tvr_widget_apartment_data table {
  width: 100%;
}
.tvr_widget_apartment_data table td,
.tvr_widget_apartment_data table th {
  vertical-align: top;
  padding: 5px 0;
}
.tvr_widget_apartment_data table th {
  font-weight: 700;
  padding: 5px 22px 5px 0;
  text-align: left;
  width: 120px;
}
.tvr_widget_apartment_data table td {
  text-align: right;
}
.tvr_widget_apartment_data table li {
  padding: 0px;
  border: 0px;
}
.tvr_widget_booking .per_time_select {
  position: relative;
  top: -5px;
  float: right;
}
.tvr_widget_booking .per_time_select .selector {
  width: 88px;
}
.tvr_widget_booking .per_time_select .selector span {
  width: 62px;
}
.tvr_widget_booking .button:hover,
.tvr_widget_booking .button *:hover {
  cursor: pointer;
}
.tvr_widget_booking .loader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: -22px 0 0 -22px;
  padding: 0px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}
.tvr_widget_booking .section-price {
  margin: 11px 0 22px 0;
}
.tvr_widget_booking .section-price .price-display {
  font-size: 2.843em;
  font-weight: 700;
  padding-left: 6px;
  letter-spacing: 2px;
}
.tvr_widget_booking .apartment-selector {
  margin: 0 0 22px 0;
}
.tvr_widget_booking .apartment-selector .selector {
  width: 100%;
}
.tvr_widget_booking .apartment-selector .selector span {
  width: 90%;
}
.tvr_widget_booking .section-total {
  margin: 0 0 22px 0;
  text-align: right;
}
.tvr_widget_booking .section-total .price-display {
  font-size: 1.286em;
  font-weight: 700;
}
.tvr_widget_booking label {
  font-size: 0.929em;
}
.tvr_widget_booking .button-container {
  width: 100%;
}
.tvr_widget_booking .button-container .button {
  display: block;
  text-align: center;
}
.tvr_widget_booking .date-col {
  float: left;
  width: 35%;
  margin-right: 2.4%;
}
.tvr_widget_booking .date-col input {
  width: 100%;
}
.tvr_widget_booking .guest-col {
  float: left;
  width: 25%;
}
.tvr_widget_booking .guest-col .selector {
  width: 100%;
  position: relative;
  top: -1px;
}
.tvr_widget_booking .guest-col .selector span {
  width: 60%;
}
/***********************************************/
/*              Post Templates                 */
/***********************************************/
.post-layout-binder {
  text-align: Center;
}
.post-layout-binder .post-content {
  background: #f8f8f8 url('img/post-default-layout-bg.png') repeat-y left top;
  text-align: left;
}
.post-layout-binder .post-meta a {
  text-decoration: none;
}
.post-layout-binder .post-meta.side {
  width: 148px;
  float: left;
  padding: 22px;
}
.post-layout-binder .post-meta.side a {
  text-decoration: none;
}
.post-layout-binder .post-meta.side .post-date .month {
  font-size: 1.714em;
}
.post-layout-binder .post-meta.side .post-date .year {
  color: #999;
}
.post-layout-binder .post-meta.side .meta {
  font-size: 0.857em;
  margin-top: 11px;
}
.post-layout-binder .post-meta.side .meta:first-child {
  margin: 0px;
}
.post-layout-binder .post-meta.horizontal {
  background: #f8f8f8;
  padding: 11px;
  font-size: 12px;
  margin: -11px 0 11px 0;
}
.post-layout-binder .read-more {
  display: inline-block;
  margin: 22px 0 0 0;
}
.post-layout-binder .separator {
  width: 66px;
  height: 5px;
  background: #E1E1E1;
  margin: 22px 0;
}
.post-layout-binder .post-text {
  margin-left: 202px;
  padding: 22px;
}
.post-layout-binder .post-title {
  font-size: 1.714em;
  margin: 0 0 22px 0;
  line-height: 1.5em;
}
.post-layout-binder .post-title a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 512px) {
  .post-layout-binder .post-content {
    background: #fff;
  }
  .post-layout-binder .post-text {
    margin: 0px;
  }
}
.post-layout-thumbnail .image-container.left {
  width: 240px;
  margin: 0 22px 0 0;
  float: left;
}
.post-layout-thumbnail.sidebar-off .image-container.left {
  width: 320px;
}
.post-layout-thumbnail.sidebar-off .details.right {
  margin-left: 366px;
}
.post-layout-thumbnail .details.right {
  overflow: hidden;
  margin-left: 286px;
}
.post-layout-thumbnail .image-container.right {
  width: 240px;
  margin: 0 0 0 22px;
  float: right;
}
.post-layout-thumbnail.sidebar-off .image-container.right {
  width: 320px;
}
.post-layout-thumbnail.sidebar-off .details.left {
  margin-right: 366px;
}
.post-layout-thumbnail .details.left {
  overflow: hidden;
  margin-right: 286px;
}
.post-layout-thumbnail .post-title {
  font-size: 1.714em;
  margin: 0 0 22px 0;
  line-height: 1.5em;
}
.post-layout-thumbnail .post-title a {
  color: inherit;
  text-decoration: none;
}
.post-layout-thumbnail .post-meta.horizontal {
  background: #f8f8f8;
  padding: 11px;
  font-size: 12px;
  margin: -11px 0 11px 0;
}
.post-layout-thumbnail .post-meta.horizontal .meta {
  display: inline-block;
  margin: 0 11px 0 0;
}
.post-layout-thumbnail .post-meta.horizontal .meta:last-child {
  margin: 0px;
}
.post-layout-thumbnail .read-more {
  display: inline-block;
  margin: 22px 0 0 0;
}
@media (max-width: 512px) {
  .post-layout-thumbnail .image-container {
    display: none;
  }
  .post-layout-thumbnail .details {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.post-layout-simple .post-text {
  padding: 22px;
}
.post-layout-simple .post-title {
  font-size: 1.714em;
  margin: 0 0 22px 0;
  line-height: 1.5em;
}
.post-layout-simple .post-title a {
  color: inherit;
  text-decoration: none;
}
.post-layout-simple .read-more {
  display: inline-block;
  margin: 22px 0 0 0;
}
.attachment-layout-default h1 {
  font-size: 1.8em;
  margin: 0 0 22px 0;
}
.gallery-layout-default {
  margin-bottom: 44px;
  text-shadow: 0px 1px 0px white;
  text-align: center;
}
.gallery-layout-default .image-container {
  margin: 0;
}
.gallery-layout-default .title {
  margin: 22px 0 0 0;
  font-size: 1.571em;
  line-height: 1.4em;
}
.gallery-layout-default .title a {
  color: inherit;
  text-decoration: none;
}
.gallery-layout-default .date {
  font-size: 0.857em;
  margin: 11px 0 0 0;
}
.gallery-layout-default .content {
  margin: 11px 0 0 0;
}
.gallery-layout-default .read-more {
  display: inline-block;
  margin: 22px 0 0 0;
}
.gallery-layout-overlay {
  text-align: center;
  margin-bottom: 44px;
}
.gallery-layout-overlay .image {
  position: relative;
  overflow: hidden;
}
.gallery-layout-overlay .image .title {
  position: absolute;
  bottom: 11px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  line-height: 2em;
}
.gallery-layout-overlay .image .title a {
  display: inline-block;
  padding: 5px 11px;
  color: #fff;
  text-decoration: none;
}
.gallery-layout-overlay .date {
  font-size: 0.857em;
  margin: 11px 0 0 0;
}
.gallery-layout-overlay .content {
  margin: 11px 0 0 0;
}
.gallery-layout-overlay .read-more {
  display: inline-block;
  margin: 22px 0 0 0;
}
/***********************************************/
/*                 Single Post                 */
/***********************************************/
.single-meta {
  margin: 22px 0 0 0;
}
.link-pages {
  margin: 0 0 44px 0;
}
.single.type-post {
  padding: 0 0 66px 0;
}
.single.type-post .image-container {
  position: relative;
}
.single.type-post .image-container .shadow-full {
  position: absolute !important;
  top: auto !important;
  bottom: -11px !important;
  width: 100%;
}
.single.type-post .title {
  font-size: 2.143em;
  line-height: 1.4em;
}
.single.type-post .meta {
  margin: 22px 0 0 0;
  font-size: 0.857em;
}
.single.type-post .meta li {
  display: inline-block;
  margin-left: 22px;
}
.single.type-post .meta li:first-child {
  margin: 0px;
}
.single.type-post .meta li.comments {
  float: right;
  margin: 0px;
}
.single.type-post .meta li .comments-icon {
  height: 13px;
  width: 17px;
  display: inline-block;
  background: url('img/icon-comment.png');
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
}
.single.type-post .meta li a {
  text-decoration: none;
}
.single.type-post .content {
  margin: 22px 0 0 0;
}
.single.type-attachment {
  padding: 0 0 66px 0;
}
.single.type-attachment .image-container {
  position: relative;
}
.single.type-attachment .image-container .shadow-full {
  position: absolute !important;
  top: auto !important;
  bottom: -11px !important;
  width: 100%;
}
.single.type-attachment .title {
  font-size: 2.143em;
  line-height: 1.4em;
}
.single.type-attachment .content {
  margin: 22px 0 0 0;
}
/***********************************************/
/*                  Comments                   */
/***********************************************/
.comments-title {
  font-size: 1.286em;
  margin: 0 0 44px 0;
}
.commentlist {
  margin: 0 0 44px 0;
}
.commentlist .comment .comment-inner {
  overflow: hidden;
  zoom: 1;
  border-top: 1px solid #F0EDE7;
  padding: 22px 0;
}
.commentlist .comment .comment-inner .comment-image {
  width: 56px;
  float: left;
}
.commentlist .comment .comment-inner .comment-content {
  margin-left: 78px;
}
.commentlist .comment .comment-inner .comment-content header {
  overflow: hidden;
  zoom: 1;
}
.commentlist .comment .comment-inner .comment-content header a {
  text-decoration: none;
}
.commentlist .comment .comment-inner .comment-content header .comment-author {
  display: inline-block;
  margin: 0 44px 0 0;
  font-weight: 700;
}
.commentlist .comment .comment-inner .comment-content header .comment-time {
  display: inline-block;
  color: #999999;
}
.commentlist .comment .comment-inner .comment-content header .comment-reply {
  display: inline-block;
  float: right;
}
.commentlist .comment:last-child .comment-inner {
  padding-bottom: 0px;
}
.commentlist .comment .children {
  margin: 0 0 22px 44px;
}
.commentlist .comment.bypostauthor {
  background: transparent;
}
.commentlist > .comment:first-child > .comment-inner {
  border-top: 0px;
  padding-top: 0px;
}
#respond p {
  margin: 0 22px 11px 0;
}
#respond label {
  font-weight: 700;
  font-size: 0.857em;
}
#respond input,
#respond textarea {
  display: block;
  width: 100%;
  padding: 11px;
}
#respond #reply-title {
  font-size: 1.286em;
  margin: 0 0 44px 0;
}
/***********************************************/
/*                  Galleries                  */
/***********************************************/
.gallery {
  width: 102%;
  margin-left: -1%;
  margin-bottom: 44px;
}
.gallery .inner {
  position: relative;
  display: none;
}
.gallery .gallery-item {
  width: 31.3%;
  margin-left: 0.8%;
  margin-right: 0.8%;
}
.gallery.col-2 .gallery-item {
  width: 48%;
}
.gallery.col-3 .gallery-item {
  width: 31.3%;
}
.gallery.col-4 .gallery-item {
  width: 23%;
}
.gallery.col-5 .gallery-item {
  width: 18%;
}
.gallery.col-6 .gallery-item {
  width: 14.6%;
}
.gallery-filter {
  text-align: Center;
  margin: 0 0 44px 0;
}
.gallery-filter .button {
  padding: 8px 22px;
}
.wp-gallery.gallery .gallery-item {
  margin: 0px;
}
/***********************************************/
/*             Isotope Filtering               */
/***********************************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/***********************************************/
/*                   Forms                     */
/***********************************************/
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  outline: none;
  background: url('img/forms/slider-handle.png');
  position: absolute;
  z-index: 2;
  width: 19px;
  height: 19px;
  cursor: default;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background: url('img/forms/slider-range.png') repeat-x;
}
.ui-slider-horizontal {
  height: 9px;
  background: url('img/forms/slider-background.png') repeat-x;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
/***********************************************/
/*              Apartment Filter               */
/***********************************************/
.apartment-filters {
  margin: 0 0 44px 0;
}
.apartment-filters .filterbox {
  margin: -1px 0 0 0;
}
.apartment-filters .filterbox:first-child {
  margin: 2px 0 0 0;
}
.apartment-filters .filterbox .filterbox-header {
  border: 1px solid #d1cfca;
  background: #eeedea;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedea', endColorstr='#e8e6e3',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeedea), color-stop(100%, #e8e6e3));
  background: -webkit-linear-gradient(top, #eeedea 0%, #e8e6e3 100%);
  background: -moz-linear-gradient(top, #eeedea 0%, #e8e6e3 100%);
  background: -ms-linear-gradient(top, #eeedea 0%, #e8e6e3 100%);
  background: -o-linear-gradient(top, #eeedea 0%, #e8e6e3 100%);
  background: linear-gradient(top, #eeedea 0%, #e8e6e3 100%);
  -webkit-box-shadow: 0 0 1px 0 #ffffff inset;
  -khtml-box-shadow: 0 0 1px 0 #ffffff inset;
  -moz-box-shadow: 0 0 1px 0 #ffffff inset;
  -ms-box-shadow: 0 0 1px 0 #ffffff inset;
  -o-box-shadow: 0 0 1px 0 #ffffff inset;
  box-shadow: 0 0 1px 0 #ffffff inset;
  padding: 16px 22px;
}
.apartment-filters .filterbox .filterbox-header .filterbox-title {
  overflow: hidden;
  display: inline-block;
  font-size: 1.286em;
}
.apartment-filters .filterbox .filterbox-header .filterbox-controls {
  float: right;
  font-size: 0.929em;
}
.apartment-filters .filterbox:first-child .filterbox-header {
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ie-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.apartment-filters .filterbox .filterbox-content {
  margin: -5px 0 0 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 22px 22px 22px 22px;
  border: 1px solid #ddd;
}
.apartment-filters .search {
  margin-right: 12px;
}
.apartment-filters .search input {
  border: 1px solid #f2f2f2;
  outline: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ie-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 6px;
  width: 100%;
}
.apartment-filters .checker {
  position: Relative;
  top: -2px;
}
.apartment-filters .selector {
  margin: 0 0 11px 0;
}
.apartment-filters .amount {
  border: 0px;
  font-weight: 700;
  font-size: 14px;
  margin: 8px 0 0 0;
  max-width: 180px;
  padding: 0px;
  display: block;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  -khtml-box-shadow: 0 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 0 #ffffff;
  -ms-box-shadow: 0 0 0 0 #ffffff;
  -o-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
}
.apartment-filters .slider-range {
  margin: 11px 0 11px 0;
}
.apartment-filter-form .inner {
  display: none;
}
.apartment-filter-form .filter-col.left {
  float: left;
  margin-right: 3.8%;
}
.apartment-filter-form .content-col.right {
  float: right;
  margin: 0px;
}
.apartment-filter-form .filter-col.right {
  float: right;
  margin: 0px;
}
.apartment-filter-form .content-col.left {
  float: left;
  margin-right: 3.8%;
}
.apartment-list {
  margin: 44px 0 0 0;
}
.apartmentlist-layout-default {
  margin: 0px;
}
.apartmentlist-layout-default .booknow-phone {
  display: none;
}
.apartmentlist-layout-default .apartment-image {
  width: 220px;
  float: left;
  margin: 0 18px 0 0;
}
.apartmentlist-layout-default .apartment-image a {
  display: block;
  margin: 0px;
}
.apartmentlist-layout-default .apartment-image img {
  display: block;
  margin: 0px;
}
.apartmentlist-layout-default .apartment-content {
  background: #ffffff url('img/apartment-default-layout-bg.png') repeat-y right top;
  overflow: hidden;
  min-height: 160px;
  zoom: 1;
  margin-left: 264px;
}
.apartmentlist-layout-default .apartment-content .apartment-main {
  overflow: hidden;
  zoom: 1;
}
.apartmentlist-layout-default .apartment-content .apartment-sidebar {
  float: right;
  width: 90px;
  margin-left: 44px;
}
.apartmentlist-layout-default .apartment-content .apartment-sidebar ul li {
  padding: 3px 0;
}
.apartmentlist-layout-default .apartment-content .box-content {
  padding: 22px;
}
.apartmentlist-layout-default .apartment-content .title {
  font-size: 1.714em;
  line-height: 1.4em;
}
.apartmentlist-layout-default .apartment-content .title a {
  color: inherit;
  text-decoration: none;
}
.apartmentlist-layout-default .apartment-content .price {
  font-size: 1.714em;
  font-weight: 700;
  margin: 0 0 11px 0;
}
.apartmentlist-layout-default .apartment-content .details {
  margin: 0 0 11px 0;
  font-size: 0.857em;
}
.apartmentlist-layout-default .apartment-content .type {
  margin: 5px 0 0 0;
  font-size: 0.857em;
}
.apartmentlist-layout-default .apartment-content .amenities {
  margin: 22px 0 0 0;
  font-size: 0.857em;
  line-height: 22px;
}
.apartmentlist-layout-default .apartment-content .amenities h2 {
  font-size: 1.333em;
  margin: 0 0 6px 0;
}
.apartmentlist-layout-default .apartment-content .content {
  margin: 22px 0 0 0;
  font-size: 0.857em;
}
@media (max-width: 1080px) {
  .apartmentlist-layout-default .apartment-content {
    margin-left: 0px;
  }
  .filter-col {
    display: none;
  }
  .content-col {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .apartment-image {
    display: none;
  }
}
@media (max-width: 512px) {
  .page-template-template-apartmentlist-php #blueprint-content > .page-content > .row > .twelvecol {
    padding: 0px !important;
  }
  .content-col {
    margin: 0px !important;
    padding: 0px !important;
  }
  .content-col .selector {
    display: none;
  }
  .apartmentlist-layout-default .apartment-content {
    background-image: none;
  }
  .apartmentlist-layout-default .apartment-sidebar {
    display: none;
  }
  .apartmentlist-layout-default .booknow-phone {
    display: block;
    margin: 44px 0 0 0;
  }
  .apartmentlist-layout-default .booknow-phone .price {
    display: inline-block;
    margin: 0 0 0 11px;
  }
  .apartmentlist-layout-default .booknow-phone .button {
    position: relative;
    top: -8px;
  }
}
.apartmentlist-layout-fancy {
  margin: 0 0 22px 0;
}
.apartmentlist-layout-fancy .apartment-image {
  margin: 0 22px 0 0;
  overflow: hidden;
}
.apartmentlist-layout-fancy .apartment-image img {
  display: block;
  margin: 0px;
}
.apartmentlist-layout-fancy .apartment-image .inner {
  position: Relative;
}
.apartmentlist-layout-fancy .apartment-image .price {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 22px;
  left: 0px;
  padding: 22px;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  display: inline-block;
}
.apartmentlist-layout-fancy .apartment-image .price .button-container {
  font-size: 12px;
  line-height: 20px;
  position: relative;
  top: -6px;
  margin-left: 11px !important;
}
.apartmentlist-layout-fancy .apartment-image .apartment-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  bottom: 22px;
  left: 10%;
  width: 90%;
}
.apartmentlist-layout-fancy .apartment-image .apartment-content .content-inner {
  padding: 22px;
}
.apartmentlist-layout-fancy .apartment-image .apartment-content .title {
  display: inline-block;
  font-size: 1.714em;
}
.apartmentlist-layout-fancy .apartment-image .apartment-content .title a {
  color: #fff;
  text-decoration: none;
}
/***********************************************/
/*               Date Picker                   */
/***********************************************/
.ui-datepicker {
  padding: 11px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(150, 150, 150, 0.1) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  width: 240px;
}
.ui-datepicker .content {
  font-size: 0.9em;
  margin: 0 0 11px 0;
}
.ui-datepicker .apartment-title {
  font-size: 22px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
}
.ui-datepicker .ui-datepicker-header a {
  font-size: 12px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  position: absolute;
  left: 0px;
  top: 15px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  right: 0px;
  top: 15px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  clear: both;
  padding: 11px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
.ui-datepicker table {
  width: 100%;
}
.ui-datepicker table th {
  text-align: center;
  font-weight: 700;
  padding: 9px 4px;
}
.ui-datepicker table td {
  padding: 1px;
}
.ui-datepicker table td a,
.ui-datepicker table td span {
  padding: 6px 4px;
  display: block;
  text-align: center;
}
.ui-datepicker table td .ui-state-default {
  background: #C1DDA6;
  border: 1px solid #acc891;
  color: #28440D !important;
  text-decoration: none;
}
.ui-datepicker table td .ui-state-default::hover {
  background: #d2eeb7;
  border: 1px solid #C1DDA6;
}
.ui-datepicker table td.unavailable .ui-state-default {
  background: #B22E27;
  border: 1px solid #9d1912;
  color: #fff !important;
}
.ui-datepicker table td.past .ui-state-default {
  background: #f1f1f1;
  border: 1px solid #dcdcdc;
  color: #4C4841 !important;
}
.ui-datepicker table .ui-datepicker-unselectable.available .ui-state-default {
  background: #f1f1f1 !important;
  border: 1px solid #dcdcdc;
  color: #4C4841 !important;
}
.tvr_widget_calendar h1.apartment_title {
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 11px 0;
}
.tvr_widget_calendar .ui-datepicker {
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0px !important;
  width: 100% !important;
}
.tvr_widget_calendar .ui-datepicker .ui-datepicker-inline {
  margin: 0px;
  padding: 0px !important;
  width: 100% !important;
}
/***********************************************/
/*               Booking Form                  */
/***********************************************/
#booknow-form {
  position: relative;
}
#booknow-form p {
  margin: 0 0 44px 0;
}
#booknow-form label {
  display: block;
  margin: 0 0 6px 0;
  font-weight: 700;
}
#booknow-form input,
#booknow-form textarea {
  width: 100%;
}
#booknow-form textarea {
  height: 230px;
}
#booknow-form .selector {
  position: Relative;
  top: -3px;
  width: 230px;
}
#booknow-form .selector span {
  width: 202px;
}
#booknow-form .guests-selector .selector {
  width: 60px;
}
#booknow-form .guests-selector .selector span {
  width: 32px;
}
#booknow-form .loader {
  display: none;
  position: absolute;
  height: 102%;
  width: 102%;
  padding: 0px;
  margin: -1% 0 0 -1%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ie-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/***********************************************/
/*          	 Apartment Slider              */
/***********************************************/
#rfas-container {
  margin: 0 0 44px 0;
}
#rfas-container #rfas-image-cache {
  display: none;
}
#rfas-container #rfas-windows {
  position: relative;
  margin: 0 0 44px 0;
}
#rfas-container #rfas-windows #rfas-prev-container {
  max-height: 400px;
  width: 800px;
  position: absolute;
  left: 0px;
  top: 15px;
  z-index: 2000;
  transition: left .1s ease;
  -moz-transition: left .1s ease;
  -webkit-transition: left .1s ease;
}
#rfas-container #rfas-windows #rfas-prev-container:hover {
  left: -5px;
}
#rfas-container #rfas-windows #rfas-current-container {
  max-height: 430px;
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 3000;
}
@media (max-width: 1130px) {
  #rfas-container #rfas-windows #rfas-current-container {
    width: 100%;
  }
}
#rfas-container #rfas-windows #rfas-next-container {
  max-height: 400px;
  width: 800px;
  position: absolute;
  right: 0px;
  top: 15px;
  z-index: 2000;
  transition: right .1s ease;
  -moz-transition: right .1s ease;
  -webkit-transition: right .1s ease;
}
#rfas-container #rfas-windows #rfas-next-container:hover {
  right: -5px;
}
#rfas-container #rfas-windows .image {
  max-height: 400px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#rfas-container #rfas-windows .image .visible {
  position: relative;
  z-index: 2000;
}
#rfas-container #rfas-windows .image .invisible {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
#rfas-container #rfas-windows #rfas-current {
  max-height: 430px;
}
#rfas-container #rfas-windows #rfas-next,
#rfas-container #rfas-windows #rfas-prev {
  transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  opacity: 0.6	;
  cursor: pointer;
}
#rfas-container #rfas-windows #rfas-next:hover,
#rfas-container #rfas-windows #rfas-prev:hover {
  filter: alpha(opacity = 100 );
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#rfas-container #rfas-nav {
  position: relative;
  zoom: 1;
}
#rfas-container #rfas-nav .image {
  margin: 0 0 0 11px;
  cursor: pointer;
}
#rfas-container #rfas-nav .image .inner {
  background: #000;
}
#rfas-container #rfas-nav .image img {
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  opacity: 0.6	;
}
#rfas-container #rfas-nav .image img:hover {
  opacity: 1;
}
#rfas-container #rfas-nav .image:first-child {
  margin: 0px;
}
#rfas-container #rfas-nav .image.current img {
  opacity: 1;
}
#rfas-container #rfas-nav .flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
#rfas-container #rfas-nav .slides {
  zoom: 1;
}
#rfas-container #rfas-nav .flex-direction-nav {
  *height: 0;
}
#rfas-container #rfas-nav .flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(img/flexslider/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
#rfas-container #rfas-nav .flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
#rfas-container #rfas-nav .flex-direction-nav flex-prev {
  left: -36px;
}
#rfas-container #rfas-nav .flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
#rfas-container #rfas-nav.centered .slides {
  width: 100% !important;
  text-align: center;
}
#rfas-container #rfas-nav.centered .image {
  display: inline-block !important;
  *display: inline !important;
  float: none!important;
}
#rfas-container #rfas-nav:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
#rfas-container #rfas-nav:hover .flex-next:hover {
  opacity: 1;
}
#rfas-container #rfas-nav:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
#rfas-container #rfas-nav:hover .flex-prev:hover {
  opacity: 1;
}
@media screen and (max-width: 860px) {
  #rfas-container #rfas-nav .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  #rfas-container #rfas-nav .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
#rfas-container #rfas-nav .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
#rfas-container #rfas-nav .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#rfas-container #rfas-nav .flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
#rfas-container #rfas-nav .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
#rfas-container #rfas-nav .flex-control-paging li a .flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
#rfas-container .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
#rfas-container .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
#rfas-container .flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
#rfas-container .flex-control-thumbs img:hover {
  opacity: 1;
}
#rfas-container .flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
.eightcol #rfas-container #rfas-windows #rfas-prev-container,
.eightcol #rfas-container #rfas-windows #rfas-next-container {
  width: 600px;
}
.eightcol #rfas-container #rfas-windows #rfas-current-container {
  width: 658px;
}
@media (max-width: 1130px) {
  .eightcol #rfas-container #rfas-windows #rfas-current-container {
    width: 100%;
  }
}
.sticky,
.gallery-caption {
  display: block;
}
/***********************************************/
/*               Responsiveness                */
/***********************************************/
.hidden {
  display: none;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
.visible-full {
  display: inherit !important;
}
@media (max-width: 1130px) {
  .visible-full {
    display: none !important;
  }
}
@media (min-width: 820px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 521px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
